<div class="row">
    <div class="col-12">
        <div class="content-header">REGISTRO DE PROYECTOS</div>
    </div>
</div>

<section>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button class="btn btn-primary mr-1 mb-1" type="button" (click)="New()">Nuevo</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <small class="form-text text-muted danger mb-1"
                                    *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>

<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Show
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                            <label for="ngx-filter-ref" class="float-right">Search:
                                <input id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
                                    (keyup)="filterUpdate($event)" />
                            </label>
                        </fieldset>
                        <ngx-datatable #tblData class="bootstrap core-bootstrap" [columnMode]="'force'"
                            [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows"
                            [scrollbarH]="true" [selected]="selected" [selectionType]="'single'">
                            <ngx-datatable-column name="PROYECTO" prop="Proyecto" width="60">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                            <a class="line-height-1 mb-0"
                                                [routerLink]="['/agropecuario/operaciones/socio/proyectos/update', row.SocioId, row.SocioProyectoId]">{{
                                                name }}</a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="MONEDA" prop="Moneda" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="MONTO" prop="Monto" width="50">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="INSUMO" prop="Insumo" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="CAPACITACIÓN" prop="ObservacionCapacitacion" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="FECHA" prop="FechaRegistroString" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="ESTADO" prop="Estado" width="40">
                                <ng-template let-status="value" ngx-datatable-cell-template>
                                    <div class="badge"
                                        [ngClass]="{'bg-light-success': status == 'Activo','bg-light-warning': status == 'Inactivo'}">
                                        {{ status }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
            <button class="btn btn-danger" type="button" (click)="Cancel()">Cancelar</button>
        </div>
    </div>
</section>