<div class="row">
    <div class="col-12">
        <div class="content-header">MAESTRO DE EMPRESA PROVEEDORA ACREEDORA</div>
    </div>
</div>
<form class="needs-validation" novalidate [formGroup]="empresaProveedoraEditForm">

    <div class="card border-dark mb-3">
        <div class="card-body">
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="nombreRazonSocial" class="col-4 col-form-label pr-0">Razon Social</label>
                        <div class="col-8">
                            <input type="text" minlength="5" maxlength="100" formControlName="nombreRazonSocial"
                                class="form-control" id="nombreRazonSocial" placeholder="Nombre / Razón Social"
                                [ngClass]="{ 'is-invalid': submitted && f.nombreRazonSocial.invalid, 'is-valid': submitted && !f.nombreRazonSocial.invalid }">
                            <small class="form-text text-muted danger"
                                *ngIf="f.nombreRazonSocial.errors?.minlength">Ingrese 5 a 100
                                letras</small>
                            <small class="form-text text-muted danger"
                                *ngIf="f.nombreRazonSocial.errors?.maxlength">Ingrese 5 a 100
                                letras</small>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="validationTooltip04" class="col-4 col-form-label pr-0">Ruc</label>
                        <div class="col-8">
                            <input type="text" minlength="5" maxlength="100" formControlName="ruc" class="form-control"
                                id="ruc" placeholder="Ruc"
                                [ngClass]="{ 'is-invalid': submitted && f.ruc.invalid, 'is-valid': submitted && !f.ruc.invalid }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="direccion" class="col-md-4 col-form-label pr-0">Direccion</label>
                        <div class="col-8">
                            <input type="text" minlength="5" maxlength="100" formControlName="direccion"
                                class="form-control" id="direccion" placeholder="Direccion"
                                [ngClass]="{ 'is-invalid': submitted && f.direccion.invalid, 'is-valid': submitted && !f.direccion.invalid }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="departamento" class="col-4 col-form-label pr-0">Departamento</label>
                        <div class="col-8">
                            <ng-select [items]="listDepartamento" formControlName="departamento" class="form-control"
                                bindLabel="Descripcion" bindValue="Codigo" id="departamento"
                                placeholder="Seleccionar Departamento" [(ngModel)]="selectedDepartamento"
                                (change)="onChangeDepartament($event)"
                                [ngClass]="{ 'is-invalid': f.departamento.invalid, 'is-valid': !f.departamento.invalid }">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="provincia" class="col-md-4 col-form-label pr-0">Provincia</label>
                        <div class="col-md-8">
                            <ng-select [items]="listProvincia" formControlName="provincia" class="form-control"
                                bindLabel="Descripcion" bindValue="Codigo" id="provincia"
                                (change)="onChangeProvince($event)" placeholder="Seleccionar Provincia"
                                [(ngModel)]="selectedProvincia"
                                [ngClass]="{ 'is-invalid': f.provincia.invalid, 'is-valid': !f.provincia.invalid }">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="distrito" class="col-md-4 col-form-label pr-0">Distrito</label>
                        <div class="col-md-8">
                            <ng-select [items]="listDistrito" formControlName="distrito" class="form-control"
                                bindLabel="Descripcion" bindValue="Codigo" id="distrito"
                                placeholder="Seleccionar Distrito" [(ngModel)]="selectedDistrito"
                                [ngClass]="{ 'is-invalid': f.distrito.invalid, 'is-valid': !f.distrito.invalid }">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="departamento" class="col-4 col-form-label pr-0">Clasificacion</label>
                        <div class="col-8">
                            <ng-select [items]="listClasificacion" formControlName="clasificacion" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="estado" placeholder="Seleccionar Clasificacion"
                                [ngClass]="{ 'is-invalid': f.clasificacion.invalid, 'is-valid': !f.clasificacion.invalid }"
                                [(ngModel)]="selectedClasificacion">
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="departamento" class="col-4 col-form-label pr-0">Estado</label>
                        <div class="col-8">
                            <ng-select [items]="listEstado" formControlName="estado" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="estado" placeholder="Seleccionar Estado"
                                [ngClass]="{ 'is-invalid': f.estado.invalid, 'is-valid': !f.estado.invalid }"
                                [(ngModel)]="selectedEstado">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <br>
            </div>
            <div class="form-row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button class="btn btn-sm btn-success ml-2 mb-1 pt-0 pb-0" type="button"
                        (click)="addRowDetail()">+</button>
                   <!--  <label class="text-danger ml-2">*Todos los campos son obligatorios</label> -->
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ngx-datatable #tblDetails class="bootstrap core-bootstrap" [rows]="rowsDetails"
                        [loadingIndicator]="isLoading" [scrollbarV]="true">

                        <ngx-datatable-column [sortable]="false" width="40">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <div class="d-flex align-items-center text-center">
                                    <button type="button" class="btn btn-sm btn-danger pt-0 pb-0"
                                        (click)="DeleteRowDetail(rowIndex)">-</button>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <!--  <ngx-datatable-column name="CERTIFICACION" prop="TipoCertificacionId"
                            [sortable]="false" width="280">
                            <ng-template ngx-datatable-cell-template let-row="row" let-TipoCertificacionId="value"
                                let-rowIndex="rowIndex"  style="width: 280px;" >
                                <div class="d-flex align-items-center" style="width: 280px;" >
                                        
                                 
                                        <ng-select [items]="listTipoCertificacion"
                                        style="width: 280px;"
                                        (change)="UpdateValuesGridDetails($event, rowIndex, 'TipoCertificacionId')"
                                        bindLabel="Label" 
                                        bindValue="Codigo"
                                        placeholder="Seleccionar Tipo Certificacion"
                                        appendTo="body"
                                        [ngClass]="{ 'border-danger': !TipoCertificacionId, '': TipoCertificacionId }"
                                        value="{{TipoCertificacionId}}">
                                        >
                                        </ng-select>
                                </div>
                            </ng-template>
                        </ngx-datatable-column> -->
                        <ngx-datatable-column name="CERTIFICACION" prop="TipoCertificacionId">
                            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                ngx-datatable-cell-template>

                                <select class="status"
                                    (change)="UpdateValuesGridDetails($event, rowIndex, 'TipoCertificacionId')"
                                    class="form-control">
                                    <option *ngFor="let e of listTipoCertificacion" [selected]="value == e.Codigo"
                                        [value]="e.Codigo">
                                        {{e.Label}}
                                    </option>
                                </select>

                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="COD. DE CERTIFICACION" prop="CodigoCertificacion" [sortable]="false"
                            width="180">
                            <ng-template ngx-datatable-cell-template let-row="row" let-CodigoCertificacion="value"
                                let-rowIndex="rowIndex">
                                <div class="d-flex align-items-center">
                               <!--      <input type="text" date autofocus class="form-control form-control-sm text-center"
                                        [ngClass]="{ 'border-danger': !CodigoCertificacion, '': CodigoCertificacion }"
                                        (blur)="UpdateValuesGridDetails($event, rowIndex, 'CodigoCertificacion')"
                                        value="{{CodigoCertificacion}}"> -->
                                        <input type="text" date autofocus class="form-control form-control-sm text-center"
                                       
                                        (blur)="UpdateValuesGridDetails($event, rowIndex, 'CodigoCertificacion')"
                                        value="{{CodigoCertificacion}}">
                                </div>
                            </ng-template>
                        </ngx-datatable-column>



                    </ngx-datatable>
                </div>
            </div>
            <div *ngIf="esEdit" class="row" style="margin-top: 2rem;">
                <div class="col-8 d-flex flex-sm-row flex-column">
                    <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Responsable</label>
                    <label class="col-md-8 col-form-label card-text" style="font-weight: bold;"
                        for="horizontal-form-1">{{responsable}}</label>
                </div>


            </div>
            <div class="row">
                <small *ngIf="errorGeneral.isError" class="form-text danger text-muted">
                    {{errorGeneral.errorMessage}}
                </small>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary" (click)="Save()">Guardar</button>
            <button class="btn btn-danger ml-1" (click)="Cancel()">Cancelar</button>
        </div>
    </div>
</form>
<div class="d-flex justify-content-center">
    <ngx-spinner></ngx-spinner>
</div>