<div class="modal-header" style="text-align: center;">

  <h4 class="modal-title" style="font-size: 1rem;">Busqueda de Organización</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="consultaOrganizacion" class="needs-validation" style="padding-left: 0.3rem; padding-right: 0.3rem;">
    <ngx-spinner></ngx-spinner>
    <div class="row"
      style="text-align: center;background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
      <div class="card-subtitle-form modal-title">Criterios de Busqueda</div>
    </div>
    <div class="row" style="margin-top: 1rem;">
      <div class="col-12 col-md-6">
        <div class="form-group row">
          <label for="validationTooltip08" class="col-md-3 col-form-label card-text2">RUC</label>
          <div class="col-md-9">
            <input type="text" minlength="8" maxlength="20" formControlName="ruc" class="form-control"
              id="validationTooltip08" placeholder="RUC"
              [ngClass]="{ 'is-invalid': submittedE && fe.ruc.invalid, 'is-valid': submittedE && !fe.ruc.invalid }">
            <small class="form-text text-muted danger" *ngIf="fe.ruc.errors?.minlength">Ingrese 8 a 20
              letras</small>
            <small class="form-text text-muted danger" *ngIf="fe.ruc.errors?.maxlength">Ingrese 8 a 20
              letras</small>
          </div>
        </div>

        <div class="form-group row">
          <label for="validationTooltip08" class="col-md-3 col-form-label card-text2">CODIGO</label>
          <div class="col-md-9">
            <input type="text" minlength="8" maxlength="20" formControlName="codigo" class="form-control"
              id="validationTooltip08" placeholder="Codigo"
              [ngClass]="{ 'is-invalid': submittedE && fe.codigo.invalid, 'is-valid': submittedE && !fe.codigo.invalid }">
            <small class="form-text text-muted danger" *ngIf="fe.codigo.errors?.minlength">Ingrese 8 a 20
              letras</small>
            <small class="form-text text-muted danger" *ngIf="fe.codigo.errors?.maxlength">Ingrese 8 a 20
              letras</small>
          </div>
        </div>
        
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group row">
          <label for="validationTooltip08" class="col-md-3 col-form-label card-text2">RAZON
            SOCIAL</label>
          <div class="col-md-9">
            <input type="text" minlength="5" maxlength="20" formControlName="rzsocial" class="form-control"
              id="validationTooltip08" placeholder="Razon Social"
              [ngClass]="{ 'is-invalid': submittedE && fe.rzsocial.invalid, 'is-valid': submittedE && !fe.rzsocial.invalid }">
            <small class="form-text text-muted danger" *ngIf="fe.rzsocial.errors?.minlength">Ingrese 5
              a 20
              letras</small>
            <small class="form-text text-muted danger" *ngIf="fe.rzsocial.errors?.maxlength">Ingrese 5
              a 20
              letras</small>
          </div>
        </div>
        <div class="form-group row" style="margin-top: 1rem">
          <label for="validationTooltip05" class="col-md-3 col-form-label card-text2">CLASIFICACION</label>
          <div class="col-md-9">
            <ng-select [items]="listaClasificacion" bindLabel="name" [(ngModel)]="selectClasificacion"
              class="form-control" placeholder="Seleccionar Clasificacion" formControlName="clasificacion"
              bindLabel="Label" bindValue="Codigo"
              [ngClass]="{ 'is-invalid': submittedE && fe.clasificacion.invalid, 'is-valid': submittedE && !fe.clasificacion.invalid }">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-10">
            <small class="form-text text-muted danger"
              *ngIf="errorEmpresa.isError">{{errorEmpresa.errorMessage}}</small>
          </div>
          <div class="col-md-2 justify-content-end">
            <button class="btn btn-primary mr-1 mb-1" type="submitE" (click)="buscar()">Buscar</button>
          </div>

        </div>
      </div>
    </div>

   <!-- <div class="row">
      <div class="col-12">
        <fieldset class="form-group">
          <label style="font-size: 0.6rem;">Show
            <select name="users-list-select" style="font-size: 0.8rem;"
              class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
              (click)="updateLimit($event)">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            entries</label>
          <label for="ngx-filter-ref" class="float-right" style="font-size: 0.6rem;">Search:
            <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
              (keyup)="filterUpdate($event)" />
          </label>
        </fieldset>

        <ngx-datatable class="bootstrap core-bootstrap ngx-datatable-empresa" #tableOrganizacion
          [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="limitRef"
          [rows]="rows" style="font-size: 0.8rem;" [selectCheck]="singleSelectCheck" [selected]="selectedOrganizacion"
          [selectionType]="'single'" (dblclick)="seleccionarOrganizacion(selectedOrganizacion)">
          <ngx-datatable-column name="Coigo" prop="Ruc" width="20">
          </ngx-datatable-column>
          <ngx-datatable-column name="Ruc" prop="Ruc" width="20">
          </ngx-datatable-column>
          <ngx-datatable-column name="Razon Social" prop="RazonSocial" width="40">
          </ngx-datatable-column>
          <ngx-datatable-column name="Clasificacion" prop="Clasificacion">
          </ngx-datatable-column>
          <ngx-datatable-column name="Direccion" prop="Direccion" width="60">
          </ngx-datatable-column>
          <ngx-datatable-column name="Departamento" prop="Departamento" width="25">
          </ngx-datatable-column>
          <ngx-datatable-column name="Provincia" prop="Provincia" width="25">
          </ngx-datatable-column>
          <ngx-datatable-column name="Distrito" prop="Distrito" width="25">
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>-->

    <div class="row">
      <div class="col-12">
        <fieldset class="form-group">
          <label style="font-size: 0.6rem;">Show
            <select name="users-list-select" style="font-size: 0.8rem;"
              class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
              (click)="updateLimit($event)">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            entries</label>
          <label for="ngx-filter-ref" class="float-right" style="font-size: 0.6rem;">Search:
            <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
              (keyup)="filterUpdate($event)" />
          </label>
        </fieldset>

        <ngx-datatable class="bootstrap core-bootstrap ngx-datatable-empresa" #tableOrganizacion
          [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="limitRef"
          [rows]="rows" style="font-size: 0.8rem;" [selectCheck]="singleSelectCheck" [selected]="selectedOrganizacion"
          [selectionType]="'single'" (dblclick)="seleccionarOrganizacion()">
          <ngx-datatable-column name="Codigo" prop="Codigo" width="20">
          </ngx-datatable-column>
          <ngx-datatable-column name="Ruc" prop="Ruc" width="20">
          </ngx-datatable-column>
          <ngx-datatable-column name="Razon Social" prop="RazonSocial" width="40">
          </ngx-datatable-column>
          <ngx-datatable-column name="Clasificacion" prop="Clasificacion">
          </ngx-datatable-column>
          <ngx-datatable-column name="Direccion" prop="Direccion" width="60">
          </ngx-datatable-column>
          <ngx-datatable-column name="Departamento" prop="Departamento" width="25">
          </ngx-datatable-column>
          <ngx-datatable-column name="Provincia" prop="Provincia" width="25">
          </ngx-datatable-column>
          <ngx-datatable-column name="Distrito" prop="Distrito" width="25">
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>

  </form>
</div>