<div class="row">
    <div class="col-12">
        <div class="content-header text-center">VALORACIÓN DE MI CAFÉ</div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form class="needs-validation" [formGroup]="frmValoracionesPorAgricultor" novalidate>
            <div class="form-row">
                <div class="col-md-3 mb-4 form-group mb-2">
                    <label for="actor" class="form-label">Actor</label>
                    <ng-select [items]="listActores" formControlName="actor" class="form-control" bindLabel="Label"
                        bindValue="Codigo" placeholder="Actor"
                        [ngClass]="{ 'is-invalid': submitted && f.actor.invalid, 'is-valid': !submitted && !f.actor.invalid }"
                        [(ngModel)]="selectedActor">
                    </ng-select>
                </div>
                <div class="col-md-3 mb-4 form-group mb-2">
                    <label for="fechaInicial" class="form-label">Fecha Inicio</label>
                    <input type="date" class="form-control" formControlName="fechaInicial" date
                        placeholder="Seleccionar fecha inicial"
                        [ngClass]="{ 'is-invalid': f.fechaInicial.invalid, 'is-valid': !f.fechaInicial.invalid }" />
                </div>
                <div class="col-md-3 mb-4 form-group mb-2">
                    <label for="fechaFinal" class="form-label">Fecha Fin</label>
                    <input type="date" class="form-control" formControlName="fechaFinal" date
                        placeholder="Seleccionar fecha final"
                        [ngClass]="{ 'is-invalid': f.fechaFinal.invalid, 'is-valid': !f.fechaFinal.invalid }" />
                </div>
            </div>

            <small class="form-text text-muted danger mb-1 font-weight-bolder"
                *ngIf="errorGeneral.isError">{{errorGeneral.msgError}}</small>
            <button class="btn btn-primary mr-1 mb-1" type="submit" (click)="Visualizar()">Visualizar
                Valoraciones</button>

        </form>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>
<div class="card" *ngIf="flagGrafico">
    <div class="card-body">
        <div class="container">
            <div class="row mb-4">
                <div class="col-12">
                    <div class="border border-info rounded">
                        <div id="chart">
                            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                                [xaxis]="chartOptions.xaxis"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="font-weight-bold mb-3">Valoraciones</h4>
            <div class="row" *ngIf="mensajeValidacion != ''">
                <div class="col-12">
                    {{mensajeValidacion}}
                </div>
            </div>
            <!-- <div *ngFor="let item of comentarios"> -->
                <!-- <div class="table-responsive"> -->
                    <table class="table table-sm table-borderless mb-0" *ngFor="let item of comentarios">
                        <tbody>
                            <tr>
                                <td rowspan="3" width="150">
                                    <img src="../../../../../../assets/img/avatar.png" width="100" height="100"
                                        class="border border-info rounded">
                                </td>
                                <td colspan="2" class="font-weight-bolder">{{item.Comentador}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <ngb-rating [max]="5" [(rate)]="item.Puntaje" [readonly]="true">
                                    </ngb-rating>
                                </td>
                                <td class="text-right">{{item.Fecha}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{item.Comentario}}</td>
                            </tr>
                        </tbody>
                    </table>
                <!-- </div> -->
                <hr class="mt-1 mb-1" />
            <!-- </div> -->
        </div>
    </div>
</div>