<div class="mt-2" id="account" [formGroup]="detalleLoteFormGroup">

    <div class="row">
        <div class="cold-2" style="margin-top: 2rem;">
            <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2"
                (click)="openModal(modalNotaIngresoAlmacen)">Agregar</button>
        </div>
        <div class="cold-2" style="margin-top: 2rem; margin-bottom: 2rem;">
            <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" [disabled]="selected.length == 0"
                (click)="eliminar(selected)">Eliminar</button>
        </div>
    </div>
    <ng-template #modalNotaIngresoAlmacen let-c="close" let-d="dismiss">
        <div class="modal-header" style="text-align: center;">

            <h4 class="modal-title" style="font-size: 1rem;">Busqueda de Nota de Ingreso Almacen</h4>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ngx-spinner></ngx-spinner>
            <div class="row"
                style="text-align: center;background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
                <div class="card-subtitle-form modal-title">Criterios de Busqueda</div>
            </div>
            <app-ingreso-almacen (agregarEvent)="agregarNotaIngreso($event)" [popUp]="popUp" [lote]="lote">
            </app-ingreso-almacen>
        </div>
    </ng-template>
    <div class="form-row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <fieldset class="form-group">
                <label>Show
                    <select name="users-list-select"
                        class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                        (click)="updateLimit($event)">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    entries</label>
                <label for="ngx-filter-ref" class="float-right">Search:
                    <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1"
                        type="text" (keyup)="filterUpdate($event)" />
                </label>
            </fieldset>
            <ngx-datatable class="bootstrap core-bootstrap ngx-datatable-lote" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows"
                [scrollbarH]="true" [selected]="selected" [selectionType]="'single'">
                <ngx-datatable-column name="N° NOTA DE INGRESO" prop="NumeroNotaIngresoAlmacen" width="180">
                </ngx-datatable-column>
                <ngx-datatable-column name="FEC. INGRESO ALMACEN" prop="FechaIngresoAlmacen" width="190">
                </ngx-datatable-column>
                <ngx-datatable-column name="CÓDIGO SOCIO" prop="CodigoSocio" width="130">
                </ngx-datatable-column>
                <ngx-datatable-column name="SOCIO" prop="Socio" width="100">
                </ngx-datatable-column>
                <ngx-datatable-column name="CERTIFICADORA" prop="Certificadora" width="130">
                </ngx-datatable-column>
                <ngx-datatable-column name="UNIDAD DE MEDIDA" prop="UnidadMedida" width="170">
                </ngx-datatable-column>
                <ngx-datatable-column name="CANTIDAD" prop="CantidadPesado" width="100">
                </ngx-datatable-column>
                <ngx-datatable-column name="TOTAL KILOS NETOS" prop="KilosNetosPesado" width="160">
                </ngx-datatable-column>
                <ngx-datatable-column name="TOTAL KILOS BRUTOS" prop="KilosBrutosPesado" width="160">
                </ngx-datatable-column>
                <ngx-datatable-column name="PUNTAJE FINAL (ANALISIS SENSORIAL)" prop="TotalAnalisisSensorial"
                    width="300">
                </ngx-datatable-column>
                <ngx-datatable-column name="% RENDIMIENTO" prop="RendimientoPorcentaje" width="120">
                </ngx-datatable-column>
                <ngx-datatable-column name="% HUMEDAD" prop="HumedadPorcentaje" width="100">
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-8 col-md-8 col-sm-8"></div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>UNIDAD MEDIDA</td>
                        <td>
                            <input type="text" name="unidadMedida" id="unidadMedida" formControlName="unidadMedida"
                                class="form-control form-control-sm text-right" placeholder="Unidad de Medida"
                                [readonly]="true">
                        </td>
                    </tr>
                    <tr>
                        <td>TOTAL</td>
                        <td>
                            <input type="text" name="totalSacos" id="totalSacos" formControlName="totalSacos"
                                class="form-control form-control-sm text-right" placeholder="Total Sacos"
                                [readonly]="true">
                        </td>
                    </tr>
                    <tr>
                        <td>TOTAL KILOS BRUTO</td>
                        <td>
                            <input type="text" name="totalKilosBrutosPesado" id="totalKilosBrutosPesado"
                                formControlName="totalKilosBrutosPesado" class="form-control form-control-sm text-right"
                                placeholder="Total peso bruto (kg)" [readonly]="true">
                        </td>
                    </tr>
                    <tr>
                        <td>RENDIMIENTO %</td>
                        <td>
                            <input type="text" name="promedioRendimiento" id="promedioRendimiento"
                                formControlName="promedioRendimiento" class="form-control form-control-sm text-right"
                                placeholder="Promedio rendimiento" [readonly]="true">
                        </td>
                    </tr>
                    <tr>
                        <td>HUMEDAD %</td>
                        <td>
                            <input type="text" name="promedioHumedad" id="promedioHumedad"
                                formControlName="promedioHumedad" class="form-control form-control-sm text-right"
                                placeholder="Promedio humedad" [readonly]="true">
                        </td>
                    </tr>
                    <tr>
                        <td>PUNTAJE FINAL</td>
                        <td>
                            <input type="text" name="promedioPuntajeFinal" id="promedioPuntajeFinal"
                                formControlName="promedioPuntajeFinal" class="form-control form-control-sm text-right"
                                placeholder="Promedio puntaje final" [readonly]="true">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>