<div class="row">
    <div class="col-12">
        <div class="content-header">BANDEJA DE CONSULTA DE CLIENTES</div>
    </div>
</div>

<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="needs-validation" [formGroup]="clienteForm" novalidate>
                            <div class="form-row">
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="codCliente" class="form-label">Código Cliente</label>
                                    <input type="text" formControlName="codCliente" class="form-control" id="codCliente"
                                        placeholder="Código del cliente"
                                        [ngClass]="{ 'is-invalid': f.codCliente.invalid, 'is-valid': !f.codCliente.invalid }" />
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="ruc" class="form-label">RUC</label>
                                    <input type="number" formControlName="ruc" class="form-control" id="ruc"
                                        placeholder="R.U.C"
                                        [ngClass]="{ 'is-invalid': f.ruc.invalid, 'is-valid': !f.ruc.invalid }" />
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="fechaInicial" class="form-label">Fecha Inicial</label>
                                    <input type="date" class="form-control" formControlName="fechaInicial" date
                                        id="fechaInicial" name="fechaInicial" placeholder="Seleccionar fecha inicial"
                                        [ngClass]="{ 'is-invalid': f.fechaInicial.invalid, 'is-valid': !f.fechaInicial.invalid }" />
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="fechaFinal" class="form-label">Fecha Final</label>
                                    <input type="date" class="form-control" formControlName="fechaFinal" date
                                        id="fechaFinal" name="fechaFinal" placeholder="Seleccionar fecha final"
                                        [ngClass]="{ 'is-invalid': f.fechaFinal.invalid, 'is-valid': !f.fechaFinal.invalid }" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="descCliente" class="form-label">Cliente</label>
                                    <input type="text" formControlName="descCliente" class="form-control"
                                        id="descCliente" placeholder="Cliente"
                                        [ngClass]="{ 'is-invalid': f.descCliente.invalid, 'is-valid': !f.descCliente.invalid }">
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="tipoCliente" class="form-label">Tipo Cliente</label>
                                    <ng-select [items]="listTipoCliente" formControlName="tipoCliente"
                                        class="form-control" bindLabel="Label" bindValue="Codigo" id="tipoCliente"
                                        placeholder="Seleccionar tipo cliente"
                                        [ngClass]="{ 'is-invalid': f.tipoCliente.invalid, 'is-valid': !f.tipoCliente.invalid }"
                                        [(ngModel)]="selectedTipoCliente">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="pais" class="form-label">País</label>
                                    <ng-select [items]="listPais" formControlName="pais" class="form-control"
                                        bindLabel="Descripcion" bindValue="PaisId" id="pais"
                                        placeholder="Seleccionar país"
                                        [ngClass]="{ 'is-invalid': f.pais.invalid, 'is-valid': !f.pais.invalid }"
                                        [(ngModel)]="selectedPais">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="estado" class="form-label">Estado</label>
                                    <ng-select [items]="listEstados" formControlName="estado" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" id="estado"
                                        placeholder="Seleccionar estado"
                                        [ngClass]="{ 'is-invalid': f.estado.invalid, 'is-valid': !f.estado.invalid }"
                                        [(ngModel)]="selectedEstado">
                                    </ng-select>
                                </div>
                            </div>

                            <small class="form-text text-muted danger mb-1"
                                *ngIf="errorGeneral.isError">{{errorGeneral.msgError}}</small>
                            <button class="btn btn-primary mr-1 mb-1" type="submit" [disabled]="clienteForm.invalid"
                                (click)="Buscar()">Buscar</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Nuevo()">Nuevo</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button"
                                [disabled]="!selected || selected.length <= 0" (click)="Anular()">Anular</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button"
                                [disabled]="!rows || rows.length <= 0" (click)="Exportar()">Exportar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>


<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Show
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                            <label for="ngx-filter-ref" class="float-right">Search:
                                <input id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
                                    (keyup)="filterUpdate($event)" />
                            </label>
                        </fieldset>
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true"
                            [selected]="selected" [selectionType]="'single'" [selectCheck]="onSelectCheck">
                            <ngx-datatable-column name="Cod. Cliente" prop="Numero" width="90">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                            <a class="line-height-1 mb-0"
                                                [routerLink]="['/exportador/operaciones/cliente/update', row.ClienteId]">{{
                                                name }}</a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Tipo Cliente" prop="TipoCliente" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="RUC" prop="Ruc" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Razón Social" prop="RazonSocial" width="250">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Dirección" prop="Direccion" width="140">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="País" prop="Pais" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Estado" prop="Estado" width="70">
                                <ng-template let-status="value" ngx-datatable-cell-template>
                                    <div class="badge"
                                        [ngClass]="{'bg-light-success': status == 'Activo', 'bg-light-warning': status == 'Inactivo' }">
                                        {{ status }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>