<div class="modal-header bg-primary">
    <h4 class="modal-title">Consultar Transportistas</h4>
    <button type="button" class="close" aria-label="Close" (click)="CloseModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="modalConsultarTransportista" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group row">
                    <label for="nombre" class="col-lg-3 col-form-label">Nombre</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre completo"
                            [ngClass]="{ 'is-invalid': f.nombre.invalid, 'is-valid': !f.nombre.invalid }" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group row">
                    <label for="nroDocumento" class="col-lg-5 col-form-label">Nro. Documento</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control text-right" formControlName="nroDocumento"
                            placeholder="Número documento"
                            [ngClass]="{ 'is-invalid': f.nroDocumento.invalid, 'is-valid': !f.nroDocumento.invalid }" />
                    </div>
                </div>
            </div>
        </div>

        <small class="form-text text-muted danger" *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>

        <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Buscar()"
            [disabled]="modalConsultarTransportista.invalid">Buscar</button>
        <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Seleccionar()"
            [disabled]="!selected || selected.length <= 0">Seleccionar</button>
    </form>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Mostrar
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                filas</label>
                        </fieldset>
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [headerHeight]="50"
                            [rowHeight]="50" [footerHeight]="50" rowHeight="'auto'" [limit]="limitRef" [rows]="rows"
                            [scrollbarH]="true" [selectionType]="'single'" #table [selected]="selected"
                            [selectCheck]="onSelectCheck">
                            <ngx-datatable-column name="Nombre Completo" prop="Conductor">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Nro. Documento" prop="Dni">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Celular" prop="NroCelular">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="SOAT" prop="Soat">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Placa" prop="PlacaCarreta">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Licencia" prop="Licencia">
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>