<div class="modal-header bg-primary">
    <h4 class="modal-title">{{titleModal}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="CloseModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="listaDocumentosForm" class="needs-validation">
        <ngx-spinner></ngx-spinner>

        <button *ngIf="visibleBoton" class="btn btn-primary mr-1 mb-1" (click)="openModal(mdlAddFile)"
            type="button">{{modalDocumentosTranslate.Nuevo | translate}}</button>
        <button *ngIf="visibleBoton" class="btn btn-primary mr-1 mb-1" type="button"
            (click)="openModalEdit(mdlAddFile)">{{modalDocumentosTranslate.Editar | translate}}</button>
        <button *ngIf="visibleBoton" class="btn btn-primary mr-1 mb-1" type="button" (click)="eliminar()">{{modalDocumentosTranslate.Eliminar
            | translate}}</button>

        <small class="form-text text-muted danger" *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>

        <div class="form-row mb-1">
            <div class="col-lg-12 bg-primary text-center p-0">
                <label class="card-subtitle-form">{{subTitleModal}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ngx-datatable class="bootstrap core-bootstrap ngx-datatable-proveedor" #tblListDocuments
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="limitRef"
                    [rows]="rows" [selectCheck]="singleSelectCheck" [selected]="selected" [selectionType]="'single'">

                    <ngx-datatable-column [name]="modalDocumentosTranslate.HeaderDes | translate" prop="Descripcion"
                        width="40" headerClass="text-center">
                    </ngx-datatable-column>
                    <ngx-datatable-column [name]="modalDocumentosTranslate.HeaderAr | translate" prop="Nombre"
                        width="60" headerClass="text-center">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <a role="button" (click)="Descargar(row)" style="color: blue;">{{name}}</a>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </div>
    </form>
</div>
<ng-template #mdlAddFile let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{modalDocumentosTranslate.TitleAgregar | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card-header text-center bg-light p-0">
            {{modalDocumentosTranslate.SubtitleAgregar | translate}}
        </div>
        <form [formGroup]="agregarArchivoForm" class="needs-validation">
            <ngx-spinner></ngx-spinner>
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group row">
                                <label for="nombre" class="col-2 col-form-label pr-0">
                                    {{modalDocumentosTranslate.Descripcion | translate}}</label>
                                <div class="col-7">
                                    <textarea name="descripcion" id="descripcion" class="form-control"
                                        [ngClass]="{ 'is-invalid': fm.descripcion.invalid, 'is-valid': !fm.descripcion.invalid }"
                                        formControlName="descripcion" rows="2" cols=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group row">
                                <label for="documento" class="col-2 col-form-label pr-0">
                                    {{modalDocumentosTranslate.Documento | translate}}</label>
                                <div class="col-3">
                                    <label class="custom-file">
                                        <input type="file" (change)="fileChange($event)" placeholder="Upload file"
                                            accept=".pdf,.doc,.docx,.jpg,.png,.xls,.xlsx">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-6 form-group mb-2">
                        </div>
                        <div class="col-md-6 mb-6 form-group mb-2">
                            <a role="button" (click)="Descargar()" style="color: blue;">{{fileName}}</a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <small class="form-text text-muted danger"
                                *ngIf="errorAddFiles.isError">{{errorAddFiles.errorMessage}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary mr-1 mb-1"
                (click)="SaveFile()">{{modalDocumentosTranslate.GuardarAgregar | translate}}</button>
            <button type="button" class="btn btn-primary mr-1 mb-1" (click)="d('Cross click')"
                id="btnCancel">{{modalDocumentosTranslate.CancelarAgregar | translate}}</button>
        </form>
    </div>
</ng-template>