<div class="row">
    <div class="col-12">
        <div class="content-header">MAESTRO DE PRECIOS DEL DIA</div>
    </div>
</div>
<form class="needs-validation" novalidate [formGroup]="precioDiaEditForm">
   
    <div class="card border-dark mb-3">
        <div class="card-body">
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="moneda" class="col-md-4 col-form-label pr-0">Moneda</label>
                        <div class="col-md-8">
                            <ng-select [items]="listMoneda" formControlName="moneda" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="moneda"
                                placeholder="Seleccionar Moneda" [(ngModel)]="selectedMoneda"
                                [ngClass]="{ 'is-invalid': f.moneda.invalid, 'is-valid': !f.moneda.invalid }">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="tipoDocumento" class="col-md-4 col-form-label pr-0">Producto</label>
                        <div class="col-md-8">
                            <ng-select [items]="listProducto" formControlName="producto" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="listProducto"
                                placeholder="Seleccionar Producto" [(ngModel)]="selectedProducto" (change)="changeSubProducto($event.Codigo)"
                                [ngClass]="{ 'is-invalid': f.producto.invalid, 'is-valid': !f.producto.invalid }">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="estado" class="col-md-4 col-form-label pr-0">Estado</label>
                        <div class="col-md-8">
                            <ng-select [items]="listEstado" formControlName="estado" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="estado" 
                                placeholder="Seleccionar Estado" [(ngModel)]="selectedEstado"
                                [ngClass]="{ 'is-invalid': f.estado.invalid, 'is-valid': !f.estado.invalid }">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="codSocio" class="col-4 col-form-label pr-0">Precio del Dia</label>
                        <div class="col-8">
                            <input type="number" name="precioDia" id="precioDia" formControlName="precioDia"
                                class="form-control" placeholder="Ingresar Precio del Dia" 
                                [ngClass]="{ 'is-invalid': f.precioDia.invalid, 'is-valid': !f.precioDia.invalid }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="subproducto" class="col-md-4 col-form-label pr-0">Sub Producto</label>
                        <div class="col-md-8">
                            <ng-select [items]="listSubProducto" formControlName="subproducto" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="subproducto"
                                placeholder="Seleccionar tipo de documento" [(ngModel)]="selectedSubProducto"
                                [ngClass]="{ 'is-invalid': f.subproducto.invalid, 'is-valid': !f.subproducto.invalid }">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="fecRegistro" class="col-4 col-form-label pr-0">Fecha de
                            Registro</label>
                        <div class="col-8 pl-0">
                            <input type="date" date name="fecRegistro" id="fecRegistro" formControlName="fecRegistro"
                                class="form-control" placeholder="Seleccionar fecha de registro" 
                                [ngClass]="{ 'is-invalid': f.fecRegistro.invalid, 'is-valid': !f.fecRegistro.invalid }">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="esEdit" class="row" style="margin-top: 2rem;">
                <div class="col-8 d-flex flex-sm-row flex-column">
                  <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Responsable</label>
                  <label class="col-md-8 col-form-label card-text" style="font-weight: bold;"
                    for="horizontal-form-1">{{responsable}}</label>
                </div>
               

              </div>
            <div class="row">
                <small *ngIf="errorGeneral.isError" class="form-text danger text-muted">
                    {{errorGeneral.errorMessage}}
                </small>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary" (click)="Save()">Guardar</button>
            <button class="btn btn-danger ml-1" (click)="Cancel()">Cancelar</button>
        </div>
    </div>
</form>
<div class="d-flex justify-content-center">
    <ngx-spinner></ngx-spinner>
</div>