<div class="row">
    <div class="col-12">
        <div class="content-header">BANDEJA TIPO DE CAMBIO DEL DIA </div>
    </div>
</div>

<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="needs-validation" [formGroup]="preciosdiaform" novalidate>
                            <div class="form-row">                                

                                <div class="col-md-6 mb-4 form-group mb-2">
                                    <label for="validationTooltip04">Fecha Inicio</label>
                                    <input type="date" class="form-control" formControlName="fechaInicio"
                                        id="validationTooltip07" name="fechaInicio" placeholder="date" date
                                        [ngClass]="{ 'is-invalid': submitted && f.fechaInicio.invalid, 'is-valid': submitted && !f.fechaInicio.invalid }"
                                        (blur)="compareFechas()" />
                                    <small class="form-text text-muted danger"
                                        *ngIf="errorFecha.isError">{{errorFecha.errorMessage}}</small>
                                </div>
                            </div>
                            <div class="form-row">
                                
                                <div class="col-md-6 mb-4 form-group mb-2">
                                    <label for="validationTooltip10">Fecha Fin</label>
                                    <input type="date" class="form-control" formControlName="fechaFin"
                                        id="validationTooltip10" name="fechaFin" placeholder="date" date
                                        [ngClass]="{ 'is-invalid': submitted && f.fechaFin.invalid, 'is-valid': submitted && !f.fechaFin.invalid }"
                                        (blur)="compareTwoDates()" />
                                    <small class="form-text text-muted danger"
                                        *ngIf="error.isError">{{error.errorMessage}}</small>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-4 form-group mb-2">
                                    <label for="estado" class="form-label">Estado</label>
                                    <ng-select [items]="listEstado" formControlName="estado" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" id="estado"
                                        placeholder="Seleccionar Estado"
                                        [ngClass]="{ 'is-invalid': f.estado.invalid, 'is-valid': !f.estado.invalid }"
                                        [(ngModel)]="selectedEstado">
                                    </ng-select>
                                </div>

                            </div>

                            <small class="form-text text-muted danger mb-1"
                                *ngIf="errorGeneral.isError">{{errorGeneral.msgError}}</small>
                            <button class="btn btn-primary mr-1 mb-1" type="submit" [disabled]="preciosdiaform.invalid"
                                (click)="Buscar()">Buscar</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Nuevo()">Nuevo</button>
                            <!-- <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Anular()" [disabled]="preciosdiaform.invalid || selected">Anular</button>     -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>


<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Show
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                            <label for="ngx-filter-ref" class="float-right">Search:
                                <input id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
                                    (keyup)="filterUpdate($event)" />
                            </label>
                        </fieldset>
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="false"
                            [selected]="selected" [selectionType]="'single'" [selectCheck]="onSelectCheck">
                            
                            <ngx-datatable-column name="Tipo de Cambio" prop="Monto" width="90">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                            <a class="line-height-1 mb-0"
                                                routerLink="/exportador/operaciones/tipocambiodia/create"
                                                [queryParams]="{ id: row.TipoCambioDiaId}">{{
                                                name }}</a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            
                            
                            <ngx-datatable-column name="Fecha" prop="Fecha" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Registro" prop="FechaRegistro" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Estado" prop="Estado" width="70">
                                <ng-template let-status="value" ngx-datatable-cell-template>
                                    <div class="badge"
                                        [ngClass]="{'bg-light-success': status == 'Activo', 'bg-light-warning': status == 'Inactivo' }">
                                        {{ status }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






