<div class="row">
    <div class="col-12">
        <div class="content-header">Kardex</div>
    </div>
</div>

<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="needs-validation" [formGroup]="frmKardex">
                            <div class="form-row">
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="fechaRecepcion" class="form-label">Fecha Recepción</label>
                                    <input type="date" date formControlName="fechaRecepcion"
                                        class="form-control" id="fechaRecepcion" placeholder="Número de lote"
                                        [ngClass]="{ 'is-invalid': f.fechaRecepcion.invalid, 'is-valid': !f.fechaRecepcion.invalid }">
                                </div>
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="nroGuiaRecepcion" class="form-label">Nro Guia de Recepción</label>
                                    <input type="date" date formControlName="nroGuiaRecepcion"
                                        class="form-control" id="nroGuiaRecepcion" placeholder="Número de lote"
                                        [ngClass]="{ 'is-invalid': f.nroGuiaRecepcion.invalid, 'is-valid': !f.nroGuiaRecepcion.invalid }">
                                </div>
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="fechaNotaCompra" class="form-label">Fecha Nota de Compra</label>
                                    <input type="date" date formControlName="fechaNotaCompra"
                                        class="form-control" id="fechaNotaCompra" placeholder="Número de lote"
                                        [ngClass]="{ 'is-invalid': f.fechaNotaCompra.invalid, 'is-valid': !f.fechaNotaCompra.invalid }">
                                </div>
                            </div>
                           
                            <small class="form-text text-muted danger mb-1"
                                *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>
                            <button class="btn btn-primary mr-1 mb-1" type="submit" [disabled]="!frmKardex.valid"
                                (click)="Generar()">Generar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>
