<form class="needs-validation" [formGroup]="notaSalidaFormEdit">
  <section id="tooltip-validation">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header" style="margin-bottom: 2rem;">
            <div class="row">
              <div class="col-12 col-md-8">
                <div class="card-title-empresa">{{login.Result.Data.RazonSocialEmpresa}}</div>
                <div class="card-subtitle-empresa">{{login.Result.Data.DireccionEmpresa}}</div>
                <div class="card-subtitle-empresa">RUC: {{login.Result.Data.RucEmpresa}}
                </div>
              </div>
              <div class="col-12 col-md-4">

                <div class="form-row">

                  <div class="col-md-6 form-group" *ngIf="esEdit">
                    <label class="card-forms" for="users-edit-name">N° NOTA DE SALIDA</label>
                  </div>

                  <div class="col-md-6 form-group">
                    <label class="card-forms" for="users-edit-username" style="font-weight: bold;">{{numero}}</label>
                  </div>
                </div>
                <div class="form-row">

                  <div class="col-md-6 form-group" *ngIf="esEdit">
                    <label class="card-forms" for="users-edit-email">FECHA</label>
                  </div>
                  <div class="col-md-6 form-group">
                    <label class="card-forms" for="users-edit-username"
                      style="font-weight: bold;">{{fechaRegistro}}</label>
                  </div>
                </div>
                <div class="form-row">

                  <div class="col-md-6 form-group">
                    <label class="card-forms" for="users-edit-email">ALMACEN</label>
                  </div>

                  <div class="col-md-6 form-group">
                    <ng-select id="validationTooltip05" [items]="listaAlmacen" class="form-control"
                      [(ngModel)]="selectAlmacen" formControlName="almacen" bindLabel="Label" bindValue="Codigo"
                      placeholder="Seleccionar Almacen"
                      [ngClass]="{ 'is-invalid': submittedEdit && fns.almacen.invalid, 'is-valid': submittedEdit && !fns.almacen.invalid }"
                      (change)="seleccionarTipoAlmacen()">
                    </ng-select>

                    <small class="form-text text-muted danger" *ngIf="fns.almacen.errors?.required">Ingrese Tipo
                      Almacén</small>
                  </div>
                </div>

              </div>

            </div>

            <div class="row" style="margin-right: 6rem; margin-left: 6rem; margin-top: 1rem;">
              <div class="col-12 col-md-5">
                <label for="basicInput">Destinatario</label>
                <input type="text" class="form-control" id="basicInput" formControlName="destinatario" disabled
                  [ngClass]="{ 'is-invalid': submittedEdit && fns.destinatario.invalid, 'is-valid': submittedEdit && !fns.destinatario.invalid }">
                <small class="form-text text-muted danger" *ngIf="fns.destinatario.errors?.required">Ingrese
                  Destinatario</small>

                <label for="basicInput">Ruc</label>
                <input type="text" class="form-control" id="basicInput" formControlName="ruc" disabled>

              </div>
              <div class="col-12 col-md-2" style="padding-left: 0cm;">
                <ng-template #modalEmpresa let-c="close" let-d="dismiss">
                  <app-consultar-empresa (empresaEvent)="GetEmpresa($event)"></app-consultar-empresa>
                </ng-template>
                <button type="button" (click)="openModal(modalEmpresa)" class="btn btn-default"
                  style="margin-top: 1.5rem;">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <div class="col-12 col-md-5">
                <label for="basicInput">Direccion de Partida</label>
                <input type="text" class="form-control" id="basicInput" formControlName="dirPartida" disabled>
                <label for="basicInput">Direccion de Destino</label>
                <input type="text" class="form-control" id="basicInput" formControlName="dirDestino" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="users-edit">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <app-tagNotasalidaPlanta formGroupName="tagcalidad" [selectAlmacen]="selectAlmacen"
                [submittedEdit]="submittedEdit"></app-tagNotasalidaPlanta>

              <div *ngIf="esEdit" class="row" style="margin-right: 6rem; margin-left: 6rem; margin-top: 1rem;">
                <div class="col-12 d-flex flex-sm-row flex-column">
                  <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Responsable</label>
                  <label class="col-md-8 col-form-label card-text" style="font-weight: bold;"
                    for="horizontal-form-1">{{responsable}}</label>
                </div>
                <div class="col-12 d-flex flex-sm-row flex-column">
                  <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Fecha Nota
                    Salida</label>
                  <label class="col-md-8 col-form-label card-text" style="font-weight: bold;"
                    for="horizontal-form-1">{{fechaRegistro}}</label>
                </div>

              </div>
              <div class="row"  style="margin-right: 6rem; margin-left: 6rem; margin-top: 1rem;">
              <div class="col-md-10">
                <small class="form-text text-muted danger"
                  *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>
              </div>
            </div>
              <div  class="card-footer text-right" style="margin-top: 2rem;">
                <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" (click)="imprimir()"
                  [disabled]="!id || id <= 0">Guia Remisión</button>
                <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" (click)="ListaProductores()"
                  [disabled]="!id || id <= 0">Lista Productores</button>
                <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" (click)="RegistroSeguridad()"
                  [disabled]="!id || id <= 0">Registro de Seguridad</button>
                <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" (click)="guardar()">Guardar</button>
                <button type="submit" class="btn btn-danger mb-2 mb-sm-0 mr-sm-2"
                  (click)="cancelar()">Cancelar</button>
              </div>
              <!--   </ng-template>
                  </li>
                </ul>-->


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
  </div>

</form>