<!-- Sidebar Header starts -->
<div class="sidebar-header" *ngIf="config?.layout.menuPosition === 'Side'">
  <div class="logo clearfix">
    <a [routerLink]="['/']" class="logo-text float-left">
      <div class="logo-img" style="align-content: center; padding-left: 5rem;">
        <img [src]="logoUrl" alt="Apex logo" height="80" width="60" />
      </div>

    </a>
    <a class="nav-toggle d-none d-lg-none d-xl-block" id="sidebarToggle" href="javascript:;" (click)="toggleSidebar()">
      <i #toggleIcon [ngClass]="{
        'ft-toggle-left': config.layout.sidebar.collapsed,
        'ft-toggle-right': !config.layout.sidebar.collapsed
      }" class="toggle-icon"></i>
    </a>
    <a class="nav-close d-block d-lg-block d-xl-none" id="sidebarClose" href="javascript:;" (click)="CloseSidebar()">
      <i class="ft-x"></i>
    </a>
  </div>
</div>
<!-- Sidebar Header Ends -->

<!-- Sidebar Content starts -->
<div class="sidebar-content main-menu-content" [perfectScrollbar] [disabled]="!perfectScrollbarEnable">
  <div class="nav-container">
    <ul class="navigation" appSidebarDropdown>
      <!-- First level menu -->
      <li appSidebarlink *ngFor="let menuItem of menuItems" [parent]="menuItem.Title" [path]="menuItem.Path"
        level="{{level + 1}}" [hasSub]="menuItem.Class.includes('has-sub') ? true: false"
        [ngClass]="{'has-sub': menuItem.Class.includes('has-sub') ? true: false}"
        [routerLinkActive]="menuItem.Submenu.length != 0 ? 'open' : 'active'"
        [routerLinkActiveOptions]="{exact: false}">
        <a appSidebarAnchorToggle *ngIf="menuItem.Submenu.length > 0 && !menuItem.IsExternalLink">
          <i [ngClass]="[menuItem.Icon]"></i>
          <span class="menu-title">{{menuItem.Title | translate }}</span>
          <span *ngIf="menuItem.Badge && menuItem.Badge != '' " [ngClass]="[menuItem.BadgeClass]">{{menuItem.Badge |
            translate}}</span>
        </a>
        <a appSidebarAnchorToggle routerLink="{{menuItem.Path}}"
          *ngIf="menuItem.Submenu.length === 0 && !menuItem.IsExternalLink">
          <i [ngClass]="[menuItem.Icon]"></i>
          <span class="menu-title">{{menuItem.Title | translate}}</span>
          <span *ngIf="menuItem.Badge && menuItem.Badge != '' "
            [ngClass]="[menuItem.BadgeClass]">{{menuItem.Badge}}</span>
        </a>
        <a [href]="[menuItem.Path]" target="_blank" *ngIf="menuItem.IsExternalLink">
          <i [ngClass]="[menuItem.Icon]"></i>
          <span class="menu-title">{{menuItem.Title | translate}}</span>
          <span *ngIf="menuItem.Badge && menuItem.Badge != '' "
            [ngClass]="[menuItem.BadgeClass]">{{menuItem.Badge}}</span>
        </a>
        <!-- Second level menu -->
        <ul appSidebarDropdown class="menu-content" *ngIf="menuItem.Submenu.length > 0 ">
          <li appSidebarlink *ngFor="let menuSubItem of menuItem.Submenu" [parent]="menuItem.Title"
            [hasSub]="menuSubItem.Class.includes('has-sub') ? true: false" [path]="menuSubItem.Path"
            level="{{level + 2}}" [ngClass]="{'has-sub': menuSubItem.Class.includes('has-sub') ? true: false}"
            [routerLinkActive]="menuSubItem.Submenu.length != 0 ? 'open' : 'active'">
            <a appSidebarAnchorToggle *ngIf="menuSubItem.Submenu.length > 0 && !menuSubItem.IsExternalLink">
              <i [ngClass]="[menuSubItem.Icon]"></i>
              <span class="menu-title">{{menuSubItem.Title | translate}}</span>
              <span *ngIf="menuSubItem.Badge && menuSubItem.Badge != '' "
                [ngClass]="[menuSubItem.BadgeClass]">{{menuSubItem.Badge}}</span>
            </a>
            <a appSidebarAnchorToggle routerLink="{{menuSubItem.Path}}"
              *ngIf="menuSubItem.Submenu.length === 0 && !menuSubItem.IsExternalLink">
              <i [ngClass]="[menuSubItem.Icon]"></i>
              <span class="menu-title">{{menuSubItem.Title | translate}}</span>
              <span *ngIf="menuSubItem.Badge && menuSubItem.Badge != '' "
                [ngClass]="[menuSubItem.BadgeClass]">{{menuSubItem.Badge}}</span>
            </a>
            <a routerLink="{{menuSubItem.Path}}" target="_blank" *ngIf="menuSubItem.IsExternalLink">
              <i [ngClass]="[menuSubItem.Icon]"></i>
              <span class="menu-title">{{menuSubItem.Title | translate }}</span>
              <span *ngIf="menuSubItem.Badge && menuSubItem.Badge != '' "
                [ngClass]="[menuSubItem.BadgeClass]">{{menuSubItem.Badge}}</span>
            </a>
            <!-- Third level menu -->
            <ul appSidebarDropdown class="menu-content" *ngIf="menuSubItem.Submenu.length > 0">
              <li appSidebarlink *ngFor="let menuSubsubItem of menuSubItem.Submenu" [parent]="menuItem.Title"
                [hasSub]="false" [path]="menuSubsubItem.Path" level="{{level + 3}}" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                [ngClass]="config.layout.menuPosition === 'Side' ? menuSubsubItem.Class : ''">
                <a appSidebarAnchorToggle routerLink="{{menuSubsubItem.Path}}"
                  *ngIf="!menuSubsubItem.IsExternalLink; else externalSubSubLinkBlock">
                  <i [ngClass]="[menuSubsubItem.Icon]"></i>
                  <span class="menu-title">{{menuSubsubItem.Title | translate}}</span>
                  <span *ngIf="menuSubsubItem.Badge && menuSubsubItem.Badge != '' "
                    [ngClass]="[menuSubsubItem.BadgeClass]">{{menuSubsubItem.Badge}}</span>
                </a>
                <ng-template #externalSubSubLinkBlock>
                  <a routerLink="{{menuSubsubItem.Path}}" target="_blank">
                    <i [ngClass]="[menuSubsubItem.Icon]"></i>
                    <span class="menu-title">{{menuSubsubItem.Title | translate}}</span>
                    <span *ngIf="menuSubsubItem.Badge && menuSubsubItem.Badge != '' "
                      [ngClass]="[menuSubsubItem.BadgeClass]">{{menuSubsubItem.Badge}}</span>
                  </a>
                </ng-template>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- Sidebar Content Ends -->