<div class="row">
    <div class="col-12">
        <div class="content-header">{{!vId ? 'NUEVO' : 'MODIFICAR'}} SOCIO</div>
    </div>
</div>
<form class="needs-validation" novalidate [formGroup]="socioEditForm">
    <div class="card border-dark mb-3">
        <div class="card-body">
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row m-0">
                        <label for="codSocio" class="col-4 col-form-label pr-0">Código Socio</label>
                        <div class="col-8 pl-0">
                            <input type="text" name="codSocio" id="codSocio" formControlName="codSocio"
                                class="form-control" placeholder="Ingresar código de socio" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row m-0">
                        <label for="fecRegistro" class="col-4 col-form-label pr-0">Fecha de
                            Registro</label>
                        <div class="col-8 pl-0">
                            <input type="date" date name="fecRegistro" id="fecRegistro" formControlName="fecRegistro"
                                class="form-control" placeholder="Seleccionar fecha de registro" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row m-0">
                        <label for="estado" class="col-2 col-form-label pr-0">Estado</label>
                        <div class="col-md-5">
                            <ng-select [items]="listEstados" formControlName="estado" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="estado"
                                [readonly]="vId == null || vId == undefined || vId == 0"
                                placeholder="Seleccionar estado" [(ngModel)]="selectedEstado">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card border-dark mb-3">
        <div class="card-body">
            <div class="form-row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="form-group row">
                        <label for="productor" class="col-md-2 col-form-label">Productor</label>
                        <div class="col-md-6 pr-0">
                            <input type="text" name="productor" id="productor" class="form-control"
                                [ngClass]="{ 'is-invalid': f.productor.invalid, 'is-valid': !f.productor.invalid }"
                                formControlName="productor" placeholder="Seleccionar productor" readonly>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" (click)="SearchProductor()" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="tipoDocumento" class="col-md-4 col-form-label pr-0">Tipo de documento</label>
                        <div class="col-md-8">
                            <ng-select [items]="listTiposDocs" formControlName="tipoDocumento" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="tipoDocumento" [readonly]="true"
                                placeholder="Seleccionar tipo de documento" [(ngModel)]="selectedTipoDoc">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="nroDocumento" class="col-md-4 col-form-label pr-0">N° de documento</label>
                        <div class="col-md-8">
                            <input type="number" name="nroDocumento" id="nroDocumento" class="form-control"
                                formControlName="nroDocumento" placeholder="Ingresar número de documento"
                                [readonly]="true">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="direccion" class="col-md-3 col-form-label pr-0">Dirección</label>
                        <div class="col-md-9">
                            <input type="text" name="direccion" id="direccion" class="form-control"
                                formControlName="direccion" placeholder="Ingresar dirección" [readonly]="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="form-group row">
                        <label for="nombreCompleto" class="col-md-2 col-form-label pr-0">Nombres y Apellidos</label>
                        <div class="col-md-10">
                            <input type="text" name="nombreCompleto" id="nombreCompleto" class="form-control"
                                formControlName="nombreCompleto" placeholder="Ingresar nombres" [readonly]="true">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="departamento" class="col-md-3 col-form-label pr-0">Departamento</label>
                        <div class="col-md-9">
                            <ng-select [items]="listDepartamentos" formControlName="departamento" class="form-control"
                                bindLabel="Descripcion" bindValue="Codigo" id="departamento" [readonly]="true"
                                placeholder="Seleccionar un departamento" [(ngModel)]="selectedDepartamento"
                                (change)="onChangeDepartament($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="form-group row">
                        <label for="razonSocial" class="col-md-2 col-form-label pr-0">Razón Social</label>
                        <div class="col-md-10">
                            <input type="text" name="razonSocial" id="razonSocial" class="form-control"
                                formControlName="razonSocial" placeholder="Ingresar razón social" [readonly]="true">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="provincia" class="col-md-3 col-form-label pr-0">Provincia</label>
                        <div class="col-md-9">
                            <ng-select [items]="listProvincias" formControlName="provincia" class="form-control"
                                bindLabel="Descripcion" bindValue="Codigo" id="provincia" [readonly]="true"
                                placeholder="Seleccionar una provincia" [(ngModel)]="selectedProvincia"
                                (change)="onChangeProvince($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="telefonoFijo" class="col-md-4 col-form-label pr-0">Telefono Fijo</label>
                        <div class="col-md-8">
                            <input type="text" name="telefonoFijo" id="telefonoFijo" class="form-control"
                                formControlName="telefonoFijo" placeholder="Ingresar telefono fijo" [readonly]="true">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="distrito" class="col-md-3 col-form-label pr-0">Distrito</label>
                        <div class="col-md-9">
                            <ng-select [items]="listDistritos" formControlName="distrito" class="form-control"
                                bindLabel="Descripcion" bindValue="Codigo" id="distrito" [readonly]="true"
                                placeholder="Seleccionar una distrito" [(ngModel)]="selectedDistrito"
                                (change)="onChangeDistrito($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="telefCelular" class="col-md-4 col-form-label pr-0">Telefono Celular</label>
                        <div class="col-md-8">
                            <input type="text" name="telefCelular" id="telefCelular" class="form-control"
                                formControlName="telefCelular" placeholder="Ingresar telefono celular"
                                [readonly]="true">


                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="zona" class="col-md-3 col-form-label pr-0">Zona</label>
                        <div class="col-md-9">
                            <ng-select [items]="listZonas" formControlName="zona" class="form-control"
                                bindLabel="Nombre" bindValue="ZonaId" id="zona" placeholder="Seleccionar una zona"
                                [readonly]="true" [(ngModel)]="selectedZona">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <small *ngIf="errorGenerico.isError" class="form-text danger text-muted">
                    {{errorGenerico.msgError}}
                </small>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary" (click)="Save()">Guardar</button>
            <button class="btn btn-danger ml-1" (click)="Cancel()">Cancelar</button>
        </div>
    </div>
</form>
<div class="d-flex justify-content-center">
    <ngx-spinner></ngx-spinner>
</div>

<ng-template #modalBusqProductores let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Buscador de Productores</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="needs-validation" [formGroup]="modalProductorForm" novalidate>
                <div class="form-row">
                    <div class="col-md-4 mb-4 form-group mb-2">
                        <label for="mCodProductor" class="form-label">Código
                            Productor</label>
                        <input type="text" minlength="5" maxlength="50" formControlName="mCodProductor"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': mf.mCodProductor.invalid, 'is-valid': !mf.mCodProductor.invalid }"
                            id="mCodProductor" placeholder="Código del productor">
                    </div>
                    <div class="col-md-4 mb-4 form-group mb-2">
                        <label for="mTipoDocumento" class="form-label">Tipo de
                            documento</label>
                        <ng-select [items]="listTiposDocumentos" formControlName="mTipoDocumento" class="form-control"
                            bindLabel="Label" bindValue="Codigo" id="mTipoDocumento"
                            [ngClass]="{ 'is-invalid': mf.mTipoDocumento.invalid, 'is-valid': !mf.mTipoDocumento.invalid }"
                            placeholder="Seleccionar el tipo de documento" [(ngModel)]="selectedTipoDocumento">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-4 form-group mb-2">
                        <label for="mNroDocumento" class="form-label">Número de
                            documento</label>
                        <input type="number" minlength="5" maxlength="25" formControlName="mNroDocumento"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': mf.mNroDocumento.invalid, 'is-valid': !mf.mNroDocumento.invalid }"
                            id="mNroDocumento" placeholder="Número de documento">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-4 form-group mb-2">
                        <label for="mNombRazonSocial" class="form-label">Nombre/Razón
                            Social</label>
                        <input type="text" minlength="5" maxlength="100" formControlName="mNombRazonSocial"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': mf.mNombRazonSocial.invalid, 'is-valid': !mf.mNombRazonSocial.invalid }"
                            id="mNombRazonSocial" placeholder="Nombre o Razón Social">
                    </div>
                    <div class="col-md-4 mb-4 form-group mb-2">
                        <label for="mFechaInicio" class="form-label">Fecha Inicio</label>
                        <input type="date" class="form-control" formControlName="mFechaInicio" id="mFechaInicio"
                            [ngClass]="{ 'is-invalid': mf.mFechaInicio.invalid, 'is-valid': !mf.mFechaInicio.invalid }"
                            name="mFechaInicio" placeholder="Seleccionar fecha inicio" date
                            (blur)="compareTwoDates()" />
                    </div>
                    <div class="col-md-4 mb-4 form-group mb-2">
                        <label for="mFechaFin" class="form-label">Fecha Fin</label>
                        <input type="date" class="form-control" formControlName="mFechaFin" id="mFechaFin"
                            name="mFechaFin"
                            [ngClass]="{ 'is-invalid': mf.mFechaFin.invalid, 'is-valid': !mf.mFechaFin.invalid }"
                            placeholder="Seleccionar Fecha Fín" date (blur)="compareTwoDates()" />
                    </div>
                </div>
                <small class="form-text text-muted danger mb-1"
                    *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>
                <button class="btn btn-primary" type="submit" [disabled]="!modalProductorForm.valid"
                    (click)="BuscarProductores()">Buscar</button>
                <hr>
                <ngx-spinner></ngx-spinner>
                <div class="form-row">
                    <div class="col-12">
                        <fieldset class="form-group">
                            <label>Show
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="ModalUpdateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                            <label for="ngx-filter-ref" class="float-right">Search:
                                <input id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
                                    (keyup)="ModalFilterUpdate($event)" />
                            </label>
                        </fieldset>
                        <ngx-datatable class="bootstrap core-bootstrap" #mTblProductores [columnMode]="'force'"
                            [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="mLimitRef"
                            [rows]="mRowsProductores" [scrollbarH]="true" [selectionType]="'single'"
                            [selected]="mSelected" (dblclick)="seleccionarProductor()">
                            <ngx-datatable-column name="Código" prop="Numero" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Tipo Documento" prop="TipoDocumento" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="N° Documento" prop="NumeroDocumento" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Nombre o Razón Social" prop="NombreRazonSocial" width="280">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Departamento" prop="Departamento" width="140">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Provincia" prop="Provincia" width="200">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Distrito" prop="Distrito" width="240">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Zona" prop="Zona" width="270">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Registro" prop="FechaRegistroString" width="120">
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>