<div class="modal-header bg-primary">
    <h4 class="modal-title">ASIGNACIÓN DE CONTRATO A ACOPIO</h4>
    <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="Close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="frmMdlAsignacionContratoAcopio" class="needs-validation">
        <ngx-spinner></ngx-spinner>
        <div class="card">
            <div class="card-body">

                <div class="form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <label for="nombre" class="col-5 col-form-label pr-0">PESO NETO KG (ORO)</label>
                            <div class="col-7">
                                <input type="number" name="pesoNetoKGOro" id="pesoNetoKGOro"
                                    formControlName="pesoNetoKGOro" class="form-control text-right" readonly
                                    [ngClass]="{ 'is-invalid': f.pesoNetoKGOro.invalid, 'is-valid': !f.pesoNetoKGOro.invalid }">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <label for="nombre" class="col-5 col-form-label pr-0">KG PERGAMINO</label>
                            <div class="col-7">
                                <input type="number" class="form-control text-right" placeholder="Seleccionar"
                                    id="KGPergamino" name="KGPergamino" formControlName="KGPergamino"
                                    (click)="!request.KGPergamino && HideShow()" [readonly]="request.KGPergamino > 0"
                                    [ngClass]="{ 'is-invalid': f.KGPergamino.invalid, 'is-valid': !f.KGPergamino.invalid }">
                                <div *ngIf="flagDiv" class="ddKGPergamino">
                                    <a href="javascript:void(0)" (click)="HideShow()" class="float-right">[X]</a>
                                    <table class="table table-bordered pointer table-sm" style="width:400px;">
                                        <tbody>
                                            <tr *ngFor="let char of listGKsPergaminos; let i = index"
                                                (click)="changeKGPergamino(char)" class="pointer">
                                                <td class="text-right">{{char.RendimientoInicio}}</td>
                                                <td class="text-right">{{char.RendimientoFin}}</td>
                                                <td class="text-right">{{char.KGPergamino}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <ng-select [items]="listGKsPergaminos" formControlName="KGPergamino"
                                    class="form-control" bindLabel="Label" bindValue="Codigo" id="KGPergamino"
                                    placeholder="KG Pergamino" [(ngModel)]="selectedKGPergamino"
                                    [ngClass]="{ 'is-invalid': f.KGPergamino.invalid, 'is-valid': !f.KGPergamino.invalid }"
                                    (change)="changeKGPergamino($event)" [readonly]="request.estadoContratoId != '01'">
                                </ng-select> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <label for="nombre" class="col-5 col-form-label pr-0">% RENDIMIENTO</label>
                            <div class="col-7">
                                <input type="number" name="porcenRendimiento" id="porcenRendimiento"
                                    formControlName="porcenRendimiento" class="form-control text-right" readonly
                                    [ngClass]="{ 'is-invalid': f.porcenRendimiento.invalid, 'is-valid': !f.porcenRendimiento.invalid }">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <label for="nombre" class="col-5 col-form-label pr-0">PESO NETO EN QQ</label>
                            <div class="col-7">
                                <input type="number" name="pesoNetoQQ" id="pesoNetoQQ" formControlName="pesoNetoQQ"
                                    class="form-control text-right" readonly
                                    [ngClass]="{ 'is-invalid': f.pesoNetoQQ.invalid, 'is-valid': !f.pesoNetoQQ.invalid }">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <label for="nombre" class="col-5 col-form-label pr-0">TOTAL KG PERGAMINO</label>
                            <div class="col-7">
                                <input type="number" name="totalKGPergamino" id="totalKGPergamino"
                                    formControlName="totalKGPergamino" class="form-control text-right" readonly
                                    [ngClass]="{ 'is-invalid': f.totalKGPergamino.invalid, 'is-valid': !f.totalKGPergamino.invalid }">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <label for="nombre" class="col-5 col-form-label pr-0">PENDIENTE KG PERGAMINO</label>
                            <div class="col-7">
                                <input type="number" name="pendienteKGPergamino" id="pendienteKGPergamino"
                                    formControlName="pendienteKGPergamino" class="form-control text-right" readonly
                                    [ngClass]="{ 'is-invalid': f.pendienteKGPergamino.invalid, 'is-valid': !f.pendienteKGPergamino.invalid }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="Confirm()"
            [disabled]="frmMdlAsignacionContratoAcopio.invalid"
            *ngIf="request.estadoContratoId == '01'">Confirmar</button>
    </form>
</div>
<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>