<div class="row">
    <div class="col-12">
        <div class="content-header">BANDEJA DE LIQUIDACION DE PROCESO</div>
    </div>
</div>
<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="needs-validation" [formGroup]="liquidacionProcesoForm" novalidate>
                            <div class="form-row">
                                <div class="col-md-4 form-group">
                                    <label for="nroLiquidacion" class="form-label">N° LIQUIDACION</label>
                                    <input type="text" formControlName="nroLiquidacion" class="form-control" id="nroLiquidacion"
                                        placeholder="N° Liquidacion" name="nroLiquidacion"
                                        [ngClass]="{ 'is-invalid': f.nroLiquidacion.invalid, 'is-valid': !f.nroLiquidacion.invalid }">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="nroContrato" class="form-label">N° CONTRATO</label>
                                    <input type="text" formControlName="nroContrato" class="form-control" id="nroContrato"
                                        placeholder="N° Contrato" name="nroContrato"
                                        [ngClass]="{ 'is-invalid': f.nroContrato.invalid, 'is-valid': !f.nroContrato.invalid }">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="ruc" class="form-label">RUC</label>
                                    <input type="text" formControlName="ruc" class="form-control"
                                        id="ruc" placeholder="Ruc" name="ruc"
                                        [ngClass]="{ 'is-invalid': f.ruc.invalid, 'is-valid': !f.ruc.invalid }">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 form-group">
                                    <label for="fechaInicial" class="form-label">FECHA INICIAL</label>
                                    <input type="date" class="form-control" formControlName="fechaInicial" date
                                        id="fechaInicial" name="fechaInicial" placeholder="Seleccionar fecha inicial"
                                        [ngClass]="{ 'is-invalid': f.fechaInicial.invalid, 'is-valid': !f.fechaInicial.invalid }" />
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="fechaFinal" class="form-label">FECHA FINAL</label>
                                    <input type="date" class="form-control" formControlName="fechaFinal" date
                                        id="fechaFinal" name="fechaFinal" placeholder="Seleccionar fecha final"
                                        [ngClass]="{ 'is-invalid': f.fechaFinal.invalid, 'is-valid': !f.fechaFinal.invalid }" />
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="organizacion" class="form-label">ORGANIZACION</label>
                                    <input type="text" formControlName="organizacion" class="form-control" id="organizacion"
                                        placeholder="Organizacion" name="organizacion"
                                        [ngClass]="{ 'is-invalid': f.organizacion.invalid, 'is-valid': !f.organizacion.invalid }">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 form-group">
                                    <label for="estado" class="form-label">ESTADO</label>
                                    <ng-select [items]="listEstados" formControlName="estado" class="form-control" bindLabel="Label" 
                                    bindValue="Codigo" id="estado" placeholder="Estado" 
                                    [ngClass]="{ 'is-invalid': f.estado.invalid, 'is-valid': !f.estado.invalid }"
                                    [(ngModel)]="selectedEstado">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="tipoProceso" class="form-label">TIPO DE PROCESO</label>
                                    <ng-select [items]="listTipoProceso" formControlName="tipoProceso" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" id="tipoProceso" placeholder="Tipo de proceso"
                                        [ngClass]="{ 'is-invalid': f.tipoProceso.invalid, 'is-valid': !f.tipoProceso.invalid }"
                                        [(ngModel)]="selectedTipoProceso">
                                    </ng-select>
                                </div>
                            </div>

                            <small class="form-text text-muted danger mb-1"
                                *ngIf="errorGeneral.isError">{{errorGeneral.msgError}}</small>
                            <button class="btn btn-primary mr-1 mb-1" type="submit" (click)="Buscar()"
                                [disabled]="liquidacionProcesoForm.invalid">Buscar</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Nuevo()">Nuevo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>

<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Show
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                            <label for="ngx-filter-ref" class="float-right">Search:
                                <input id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
                                    (keyup)="filterUpdate($event)" />
                            </label>
                        </fieldset>
                        <ngx-datatable #tblOrdenProceso class="bootstrap core-bootstrap" [columnMode]="'force'"
                            [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows"
                            [scrollbarH]="true" [selected]="selected" [selectionType]="'single'"
                            [selectCheck]="singleSelectCheck">
                            <ngx-datatable-column name="N° LIQUIDACIÓN" prop="Numero" width="100">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                            <a class="line-height-1 mb-0"
                                                routerLink="/planta/operaciones/liquidacionproceso-edit"
                                                [queryParams]="{ id: row.LiquidacionProcesoPlantaId}">{{
                                                name }}</a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="N° CONTRATO" prop="NumeroContrato" width="50">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="RUC" prop="RucOrganizacion" width="50">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="ORGANIZACION" prop="RazonSocialOrganizacion" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="FEC. REGISTRO" prop="FechaRegistro" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="FEC.  FIN  PROCESO" prop="FechaFinProceso" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="TIPO DE PROCESO" prop="TipoProceso" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="ESTADO" prop="Estado" width="50">
                                <ng-template let-status="value" ngx-datatable-cell-template>
                                    <div class="badge"
                                        [ngClass]="{'bg-light-success': status == 'Activo', 'bg-light-warning': status == 'Inactivo' }">
                                        {{ status }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>