<div class="modal-header">
    <h4 class="modal-title">Búsqueda de Clientes Activos</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="mdlClienteForm" class="needs-validation">
        <ngx-spinner></ngx-spinner>
        <div class="form-row">
            <div class="col-md-3 mb-4 form-group mb-2">
                <label for="mcodCliente" class="form-label">Código Cliente</label>
                <input type="text" formControlName="mcodCliente" class="form-control" id="mcodCliente"
                    placeholder="Código del cliente"
                    [ngClass]="{ 'is-invalid': fm.mcodCliente.invalid, 'is-valid': !fm.mcodCliente.invalid }" />
            </div>
            <div class="col-md-3 mb-4 form-group mb-2">
                <label for="mruc" class="form-label">RUC</label>
                <input type="number" formControlName="mruc" class="form-control" id="mruc" placeholder="R.U.C"
                    [ngClass]="{ 'is-invalid': fm.mruc.invalid, 'is-valid': !fm.mruc.invalid }" />
            </div>
            <div class="col-md-3 mb-4 form-group mb-2">
                <label for="mfechaInicial" class="form-label">Fecha Inicial</label>
                <input type="date" class="form-control" formControlName="mfechaInicial" date id="mfechaInicial"
                    name="mfechaInicial" placeholder="Seleccionar fecha inicial"
                    [ngClass]="{ 'is-invalid': fm.mfechaInicial.invalid, 'is-valid': !fm.mfechaInicial.invalid }" />
            </div>
            <div class="col-md-3 mb-4 form-group mb-2">
                <label for="mfechaFinal" class="form-label">Fecha Final</label>
                <input type="date" class="form-control" formControlName="mfechaFinal" date id="mfechaFinal"
                    name="mfechaFinal" placeholder="Seleccionar fecha final"
                    [ngClass]="{ 'is-invalid': fm.mfechaFinal.invalid, 'is-valid': !fm.mfechaFinal.invalid }" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-4 form-group mb-2">
                <label for="mdescCliente" class="form-label">Cliente</label>
                <input type="text" formControlName="mdescCliente" class="form-control" id="mdescCliente"
                    placeholder="Cliente" name="mdescCliente"
                    [ngClass]="{ 'is-invalid': fm.mdescCliente.invalid, 'is-valid': !fm.mdescCliente.invalid }">
            </div>
            <div class="col-md-3 mb-4 form-group mb-2">
                <label for="mtipoCliente" class="form-label">Tipo Cliente</label>
                <ng-select [items]="listMdlTipoCliente" formControlName="mtipoCliente" class="form-control"
                    bindLabel="Label" bindValue="Codigo" id="mtipoCliente" placeholder="Seleccionar tipo cliente"
                    [ngClass]="{ 'is-invalid': fm.mtipoCliente.invalid, 'is-valid': !fm.mtipoCliente.invalid }"
                    [(ngModel)]="selMdlTipoCliente">
                </ng-select>
            </div>
            <div class="col-md-3 mb-4 form-group mb-2">
                <label for="mpais" class="form-label">País</label>
                

                <ng-select [items]="listPaises" formControlName="pais" class="form-control"
                                        bindLabel="Descripcion" bindValue="PaisId" id="pais"
                                        placeholder="Seleccionar país"
                                        [ngClass]="{ 'is-invalid': fm.pais.invalid, 'is-valid': !fm.pais.invalid }"
                                        [(ngModel)]="selectedPais">
                                    </ng-select>

            </div>
        </div>
        <div class="form-row">
            <small class="form-text text-muted danger mb-1"
                *ngIf="errorMdlGeneral.isError">{{errorMdlGeneral.msgError}}</small>
        </div>
        <div class="form-row">
            <button class="btn btn-primary mr-1 mb-1" type="submit" [disabled]="mdlClienteForm.invalid"
                (click)="Buscar()">Buscar</button>
        </div>
        <div class="form-row">
            <div class="col-lg-12">
                <fieldset class="form-group">
                    <label>Show
                        <select name="users-list-select"
                            class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                            (click)="updateLimit($event)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        entries</label>
                    <label for="ngx-filter-ref" class="float-right">Search:
                        <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1"
                            type="text" (keyup)="filterUpdate($event)" />
                    </label>
                </fieldset>

                <ngx-datatable class="bootstrap core-bootstrap ngx-datatable-conclientes" #dgModalCLientes
                    [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                    [limit]="limitRef" [rows]="rows" [scrollbarH]="true" [selected]="selectedClientes"
                    [selectionType]="'single'" [selectCheck]="singleSelectCheck"
                    (dblclick)="DblSelected(selectedClientes)">
                    <ngx-datatable-column name="Cod. Cliente" prop="Numero" width="150">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tipo Cliente" prop="TipoCliente" width="200">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="RUC" prop="Ruc" width="150">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Razón Social" prop="RazonSocial" width="400">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Dirección" prop="Direccion" width="350">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="País" prop="Pais" width="150">
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </form>
</div>