<form class="needs-validation" [formGroup]="ordenProcesoEditForm">
    <div class="form-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card mb-0">
                <div class="card-body pb-0">
                    <div class="form-row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" name="razonSocialCabe" id="razonSocialCabe"
                                        formControlName="razonSocialCabe" class="form-control form-control-sm"
                                        placeholder="Razón Social"
                                        [ngClass]="{ 'is-invalid': f.razonSocialCabe.invalid, 'is-valid': !f.razonSocialCabe.invalid }"
                                        [readonly]="true" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="nroOrden" class="col-md-4 col-form-label">N° DE ORDEN</label>
                                <div class="col-md-8">
                                    <input type="text" name="nroOrden" id="nroOrden" formControlName="nroOrden"
                                        class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': f.nroOrden.invalid, 'is-valid': !f.nroOrden.invalid }"
                                        placeholder="Número de orden" [readonly]="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" name="direccionCabe" id="direccionCabe"
                                        formControlName="direccionCabe" class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': f.direccionCabe.invalid, 'is-valid': !f.direccionCabe.invalid }"
                                        placeholder="Dirección" [readonly]="true" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="fechaCabe" class="col-md-4 col-form-label">FECHA</label>
                                <div class="col-md-8">
                                    <input type="date" class="form-control text-center form-control-sm"
                                        formControlName="fechaCabe" id="fechaCabe" date name="fechaCabe"
                                        placeholder="Seleccionar fechaCabe" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.fechaCabe.invalid, 'is-valid': !f.fechaCabe.invalid }" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="form-group row">
                                <label for="nroRucCabe" class="col-md-1 col-form-label">RUC</label>
                                <div class="col-md-11">
                                    <input type="text" name="nroRucCabe" id="nroRucCabe" formControlName="nroRucCabe"
                                        class="form-control form-control-sm" placeholder="Número R.U.C"
                                        [ngClass]="{ 'is-invalid': f.nroRucCabe.invalid, 'is-valid': !f.nroRucCabe.invalid }"
                                        [readonly]="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-0">
                <h5 class="card-header bg-primary text-white text-center align-middle p-0">ORDEN DE PROCESO COMERCIAL
                </h5>
                <div class="card-body">
                    <div class="form-row bg-primary align-middle mb-2">
                        <label for="" class="text-white">DATOS GENERALES</label>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group row">
                                <label for="nroContrato" class="col-lg-4 col-form-label">CONTRATO N°</label>
                                <div class="col-lg-6">
                                    <input type="text" name="nroContrato" id="nroContrato" formControlName="nroContrato"
                                        class="form-control" placeholder="Número de contrato" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.nroContrato.invalid, 'is-valid': !f.nroContrato.invalid }">
                                </div>
                                <div class="col-lg-2">
                                    <ng-template #mdlConsultarContrato let-c="close" let-d="dismiss">
                                        <app-consultar-contrato (responseContrato)="GetDataModal($event)">
                                        </app-consultar-contrato>
                                    </ng-template>
                                    <button type="button" (click)="openModal(mdlConsultarContrato)"
                                        class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="codCliente" class="col-lg-4 col-form-label">COD. CLIENTE</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" formControlName="codCliente" id="codCliente"
                                        name="codCliente" placeholder="Código del cliente" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.codCliente.invalid, 'is-valid': !f.codCliente.invalid }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group row">
                                <label for="cliente" class="col-lg-2 col-form-label">CLIENTE</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" formControlName="cliente" id="cliente"
                                        name="cliente" placeholder="Cliente" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.cliente.invalid, 'is-valid': !f.cliente.invalid }" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="form-group row">
                                <label for="destino" class="col-lg-2 col-form-label">DESTINO</label>
                                <div class="col-lg-9">
                                    <input type="text" name="destino" id="destino" formControlName="destino"
                                        class="form-control" placeholder="Destino" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.destino.invalid, 'is-valid': !f.destino.invalid }">
                                </div>
                                <div class="col-lg-1">
                                    <ng-template #mdlConsultarEmpresa let-c="close" let-d="dismiss">
                                        <app-consultar-empresa (empresaEvent)="GetDataEmpresa($event)">
                                        </app-consultar-empresa>
                                    </ng-template>
                                    <button type="button" (click)="openModal(mdlConsultarEmpresa)"
                                        class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3">
                            <div class="form-row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="tipoProduccion" class="col-lg-5 col-form-label">TIPO
                                            PRODUCCIÓN</label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" formControlName="tipoProduccion"
                                                id="tipoProduccion" name="tipoProduccion" placeholder="Tipo producción"
                                                [readonly]="true"
                                                [ngClass]="{ 'is-invalid': f.tipoProduccion.invalid, 'is-valid': !f.tipoProduccion.invalid }" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="certificacion" class="col-lg-5 col-form-label">CERTIFICACIÓN</label>
                                        <div class="col-lg-7">
                                          <!--   <input type="text" class="form-control" formControlName="certificacion"
                                                id="certificacion" name="certificacion" placeholder="Certificación"
                                                [readonly]="true"
                                                [ngClass]="{ 'is-invalid': f.certificacion.invalid, 'is-valid': !f.certificacion.invalid }" />
 -->
                                                <ng-select [items]="listCertificacion" formControlName="certificacion" class="form-control"
                                                bindLabel="Label" bindValue="Codigo" id="certificacion"
                                                placeholder="Seleccionar Certificacion" [multiple]="true"
                                                [ngClass]="{ 'is-invalid': f.certificacion.invalid, 'is-valid': !f.certificacion.invalid }"
                                                [(ngModel)]="selectedCertificacion">
                                                </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="tipoProceso" class="col-lg-5 col-form-label">TIPO PROCESO</label>
                                        <div class="col-lg-7">
                                            <ng-select [items]="listTipoProcesos" formControlName="tipoProceso"
                                                class="form-control" bindLabel="Label" bindValue="Codigo"
                                                id="tipoProceso" placeholder="Tipo de proceso"
                                                [ngClass]="{ 'is-invalid': f.tipoProceso.invalid, 'is-valid': !f.tipoProceso.invalid }"
                                                [(ngModel)]="selectedTipoProceso">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="porcenRendimiento" class="col-lg-5 col-form-label">%
                                            RENDIMIENTO</label>
                                        <div class="col-lg-7">
                                            <input type="number" class="form-control text-right"
                                                formControlName="porcenRendimiento" id="porcenRendimiento"
                                                name="porcenRendimiento" placeholder="% Rendimiento"
                                                [ngClass]="{ 'is-invalid': f.porcenRendimiento.invalid, 'is-valid': !f.porcenRendimiento.invalid }" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="fecFinProcesoPlanta" class="col-lg-6 col-form-label">FEC. FIN DE
                                            PROCESO PLANTA</label>
                                        <div class="col-lg-6">
                                            <input type="date" date class="form-control text-center"
                                                formControlName="fecFinProcesoPlanta" id="fecFinProcesoPlanta"
                                                name="fecFinProcesoPlanta" placeholder="Fecha fin de proceso"
                                                [ngClass]="{ 'is-invalid': f.fecFinProcesoPlanta.invalid, 'is-valid': !f.fecFinProcesoPlanta.invalid }" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-sx-9">
                            <div class="form-row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <button class="btn btn-sm btn-success ml-2 mb-1 pt-0 pb-0" type="button"
                                        (click)="addRowDetail()">+</button>
                                    <label class="text-danger ml-2">*Todos los campos son obligatorios</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <ngx-datatable #tblDetails class="bootstrap core-bootstrap" [rows]="rowsDetails"
                                        [loadingIndicator]="isLoading" [scrollbarV]="true">

                                        <ngx-datatable-column [sortable]="false" width="40">
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                                                <div class="d-flex align-items-center text-center">
                                                    <button type="button" class="btn btn-sm btn-danger pt-0 pb-0"
                                                        (click)="DeleteRowDetail(rowIndex)">-</button>
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="N° NOTA IP" prop="NroNotaIngresoPlanta"
                                            [sortable]="false">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-nroNotaIP="value"
                                                let-rowIndex="rowIndex">
                                                <div class="d-flex align-items-center">
                                                    <input type="text" autofocus class="form-control form-control-sm"
                                                        (blur)="UpdateValuesGridDetails($event, rowIndex, 'nroNotaIP')"
                                                        [ngClass]="{ 'border-danger': !nroNotaIP, '': nroNotaIP }"
                                                        value="{{nroNotaIP}}">
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="FEC. NOTA IP" prop="FechaNotaIngresoPlanta"
                                            [sortable]="false" width="180">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-fecNotaIP="value"
                                                let-rowIndex="rowIndex">
                                                <div class="d-flex align-items-center">
                                                    <input type="date" date autofocus
                                                        class="form-control form-control-sm text-center"
                                                        [ngClass]="{ 'border-danger': !fecNotaIP, '': fecNotaIP }"
                                                        (blur)="UpdateValuesGridDetails($event, rowIndex, 'fecNotaIP')"
                                                        value="{{fecNotaIP}}">
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="% RENDIMIENTO" prop="RendimientoPorcentaje"
                                            [sortable]="false">
                                            <ng-template ngx-datatable-cell-template let-row="row"
                                                let-rendimiento="value" let-rowIndex="rowIndex">
                                                <div class="d-flex align-items-center">
                                                    <input type="number" autofocus
                                                        class="form-control form-control-sm text-right"
                                                        [ngClass]="{ 'border-danger': !rendimiento, '': rendimiento }"
                                                        (blur)="UpdateValuesGridDetails($event, rowIndex, 'rendimiento')"
                                                        value="{{rendimiento}}">
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="% HUMEDAD" prop="HumedadPorcentaje"
                                            [sortable]="false">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-humedad="value"
                                                let-rowIndex="rowIndex">
                                                <div class="d-flex align-items-center">
                                                    <input type="number" autofocus
                                                        class="form-control form-control-sm text-right"
                                                        [ngClass]="{ 'border-danger': !humedad, '': humedad }"
                                                        (blur)="UpdateValuesGridDetails($event, rowIndex, 'humedad')"
                                                        value="{{humedad}}">
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="CANT. SACOS" prop="CantidadSacos"
                                            [sortable]="false">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-cantSacos="value"
                                                let-rowIndex="rowIndex">
                                                <div class="d-flex align-items-center">
                                                    <input type="number" autofocus
                                                        class="form-control form-control-sm text-right"
                                                        [ngClass]="{ 'border-danger': !cantSacos, '': cantSacos }"
                                                        (blur)="UpdateValuesGridDetails($event, rowIndex, 'cantSacos')"
                                                        value="{{cantSacos}}">
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="KL. BRUTOS" prop="KilosBrutos" [sortable]="false">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-klBrutos="value"
                                                let-rowIndex="rowIndex">
                                                <div class="d-flex align-items-center">
                                                    <input type="number" autofocus
                                                        class="form-control form-control-sm text-right"
                                                        [ngClass]="{ 'border-danger': !klBrutos, '': klBrutos }"
                                                        (blur)="UpdateValuesGridDetails($event, rowIndex, 'klBrutos')"
                                                        value="{{klBrutos}}">
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="TARA" prop="Tara" [sortable]="false">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-tara="value"
                                                let-rowIndex="rowIndex">
                                                <div class="d-flex align-items-center">
                                                    <input type="number" autofocus
                                                        class="form-control form-control-sm text-right"
                                                        [ngClass]="{ 'border-danger': !tara, '': tara }"
                                                        (blur)="UpdateValuesGridDetails($event, rowIndex, 'tara')"
                                                        value="{{tara}}">
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="KL. NETOS" prop="KilosNetos" [sortable]="false">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-klNetos="value"
                                                let-rowIndex="rowIndex">
                                                <div class="d-flex align-items-center">
                                                    <input type="number" autofocus
                                                        class="form-control form-control-sm text-right"
                                                        [ngClass]="{ 'border-danger': !klNetos, '': klNetos }"
                                                        (blur)="UpdateValuesGridDetails($event, rowIndex, 'klNetos')"
                                                        value="{{klNetos}}">
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row bg-primary align-middle mb-2">
                        <label for="" class="text-white">DETALLE DEL PRODUCTO TERMINADO</label>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="empaqueTipo" class="col-lg-5 col-form-label">EMPAQUE/TIPO</label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control text-right" formControlName="empaqueTipo"
                                        id="empaqueTipo" name="empaqueTipo" placeholder="Empaque / Tipo"
                                        [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.empaqueTipo.invalid, 'is-valid': !f.empaqueTipo.invalid }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="cantidad" class="col-lg-3 col-form-label pr-0">CANTIDAD</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control text-right" formControlName="cantidad"
                                        id="cantidad" name="cantidad" placeholder="Cantidad" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.cantidad.invalid, 'is-valid': !f.cantidad.invalid }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="pesoSacoKG" class="col-lg-5 col-form-label">PESO POR SACO KG</label>
                                <div class="col-lg-7">
                                    <input type="number" class="form-control text-right" formControlName="pesoSacoKG"
                                        id="pesoSacoKG" name="pesoSacoKG" placeholder="Peso por saco KG"
                                        [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.pesoSacoKG.invalid, 'is-valid': !f.pesoSacoKG.invalid }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="totalKilosNetos" class="col-lg-6 col-form-label">TOTAL KILOS NETOS</label>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control text-right"
                                        formControlName="totalKilosNetos" id="totalKilosNetos" name="totalKilosNetos"
                                        placeholder="Total kilos netos" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.totalKilosNetos.invalid, 'is-valid': !f.totalKilosNetos.invalid }" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="cantContenedores" class="col-lg-6 col-form-label">CANT. CONTENEDORES</label>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control text-right"
                                        formControlName="cantContenedores" id="cantContenedores" name="cantContenedores"
                                        placeholder="Cantidad de contenedores" [readonly]="true"
                                       />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="producto" class="col-lg-3 col-form-label pr-0">PRODUCTO</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" formControlName="producto" id="producto"
                                        name="producto" placeholder="Producto" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.producto.invalid, 'is-valid': !f.producto.invalid }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="subProducto" class="col-lg-4 col-form-label pr-0">SUB PRODUCTO</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" formControlName="subProducto"
                                        id="subProducto" name="subProducto" placeholder="Sub Producto" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.subProducto.invalid, 'is-valid': !f.subProducto.invalid }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="calidad" class="col-lg-3 col-form-label pr-0">CALIDAD</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" formControlName="calidad" id="calidad"
                                        name="calidad" placeholder="Calidad" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.calidad.invalid, 'is-valid': !f.calidad.invalid }" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="grado" class="col-lg-3 col-form-label">GRADO</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" formControlName="grado" id="grado"
                                        name="grado" placeholder="Grado" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.grado.invalid, 'is-valid': !f.grado.invalid }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group row">
                                <label for="cantidadDefectos" class="col-lg-6 col-form-label">CANT. DE
                                    DEFECTOS</label>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control text-right"
                                        formControlName="cantidadDefectos" id="cantidadDefectos" name="cantidadDefectos"
                                        placeholder="Cantidad de defectos" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.cantidadDefectos.invalid, 'is-valid': !f.cantidadDefectos.invalid }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group row">
                                <label for="observaciones" class="col-lg-3 col-form-label">OBSERVACIONES</label>
                                <div class="col-lg-9 pl-0">
                                    <textarea name="observaciones" id="observaciones" class="form-control"
                                        [ngClass]="{ 'is-invalid': f.observaciones.invalid, 'is-valid': !f.observaciones.invalid }"
                                        formControlName="observaciones" rows="2" cols=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group row">
                                <label for="responsableComercial" class="col-lg-4 col-form-label">Responsable de
                                    Comercial</label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" formControlName="responsableComercial"
                                        id="responsableComercial" name="responsableComercial"
                                        placeholder="Responsable comercial" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.responsableComercial.invalid, 'is-valid': !f.responsableComercial.invalid }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group row">
                                <label for="totalKilosBrutos" class="col-lg-5 col-form-label">Cargar Liquidación de
                                    Proceso</label>
                                <div class="col-lg-3">
                                    <label class="custom-file">
                                        <input type="file" (change)="fileChange($event)" placeholder="Upload file"
                                            accept=".pdf,.doc,.docx,.jpg,.png,.xls,.xlsx">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6 col-md-6 col-sm-6"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group row">
                                <label class="col-lg-5 col-form-label"></label>
                                <div class="col-lg-7">
                                    <a role="button" (click)="Descargar()" style="color: blue;">{{fileName}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <small class="form-text text-muted danger mb-1"
                                        *ngIf="errorGeneral.isError">{{errorGeneral.msgError}}</small>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <button type="button" class="btn btn-primary mr-1" (click)="Print()"
                                        *ngIf="codeProcessOrder > 0">Imprimir</button>
                                    <button type="button" class="btn btn-primary mr-1" (click)="Save()">Guardar</button>
                                    <button type="button" class="btn btn-danger" (click)="Cancel()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>