.table-calidad{
    tbody{
      tr{
        td,th{
          padding: 0.3rem 0.3rem !important;
        }
        border-top: 1px solid #E0E0E0 !important;
        text-align: start !important;
      }
      .td-total
      {
        background-color: #F7F7F8;
      }
    }
    thead
    {
        background-color: #F7F7F8;
        tr
        {
            border-top: 1px solid #E0E0E0 !important;
            text-align: center;
        }
    }
  }
  .table-2
  {
      margin-top: 2rem;
  }
  .font-calidad
  {
      font-size: 0.8rem;
      
  }
  .group-control-calidad{

        //position: relative;
        // display: block;
        //margin: 0.5rem;
        //padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        //border: 1px solid #E0E0E0;
        border-radius: 0.35rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding-left: 0;


      
  }
  .item-control-calidad
  {
    border-radius: 0.35rem;
      position: relative;
      display: block;
      padding:0.75rem 1.25rem;
      background-color: #fff;
      border: 1px solid #E0E0E0;
      margin-top: 1rem;
  }


  .td-total
  {
    background-color: #F7F7F8;
  }

  .label-checkbox 
  {
    font-size: 0.8rem !important;
    text-transform: none !important;
    font-weight: normal;
    margin-bottom: 0.5rem;

  }
  .label-ToTal
  {
    font-size: 0.8rem !important;
    text-transform: none !important;
    font-weight: normal;
    margin-top: 0.5rem;
  }
  .ul-Checkbox {
    column-count: 4;
    list-style: none;
   
  }

 



  .card-calidad{
    margin: 0;
    background-color: transparent !important;

    &:last-of-type {
      .card-header button {
        padding-bottom: 1.5rem !important;
      }
    }
  }
