<form class="needs-validation" [formGroup]="liquidacionProcesoFormEdit">
  <section id="tooltip-validation">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header" style="margin-bottom: 2rem;">
            <div class="row">
              <div class="col-12 col-md-8">
                <div class="card-title-empresa">{{login.Result.Data.RazonSocialEmpresa}}</div>
                <div class="card-subtitle-empresa">{{login.Result.Data.DireccionEmpresa}}</div>
                <div class="card-subtitle-empresa">RUC: {{login.Result.Data.RucEmpresa}}
                </div>
              </div>
              <div class="col-12 col-md-4">

                <div class="form-row">

                  <div class="col-md-6 form-group" *ngIf="esEdit">
                    <label class="card-forms" for="users-edit-name">N° LIQUIDACION DE PROCESO</label>
                  </div>
                  <div class="col-md-6 form-group">
                    <label class="card-forms" for="users-edit-username" style="font-weight: bold;">{{numero}}</label>
                  </div>
                </div>
                <div class="form-row">

                  <div class="col-md-6 form-group" *ngIf="esEdit">
                    <label class="card-forms" for="users-edit-email">FECHA</label>
                  </div>
                  <div class="col-md-6 form-group">
                    <label class="card-forms" for="users-edit-username"
                      style="font-weight: bold;">{{fechaRegistro}}</label>
                  </div>
                </div>

              </div>

            </div>


            <div class="row" style="margin-right: 6rem; margin-left: 6rem; margin-top: 1rem;">
              <div class="col-12 col-md-5">
                <label for="basicInput">Tipo de Proceso</label>
                <input type="text" class="form-control" id="basicInput" formControlName="tipoProceso" disabled
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submittedEdit && fns.tipoProceso.invalid, 'is-valid': submittedEdit && !fns.tipoProceso.invalid }">
                <small class="form-text text-muted danger" *ngIf="fns.tipoProceso.errors?.required">Ingrese
                  Tipo de Proceso</small>

                <label for="basicInput">Ruc</label>
                <input type="text" class="form-control" id="basicInput" formControlName="ruc" disabled>

                <label for="basicInput">Tipo de Produccion</label>
                <input type="text" class="form-control" id="basicInput" formControlName="tipoProduccion" disabled>
                <label for="basicInput">Producto</label>
                <input type="text" class="form-control" id="basicInput" formControlName="producto" disabled>

                <label for="basicInput">Sub Producto</label>
                <input type="text" class="form-control" id="basicInput" formControlName="subproducto" disabled>

              </div>
              <div class="col-12 col-md-2" style="padding-left: 0cm;">
                <ng-template #modalOrdenProceso let-c="close" let-d="dismiss">
                  <div class="modal-header" style="text-align: center;">

                    <h4 class="modal-title" style="font-size: 1rem;">Bandeja de Orden de Proceso</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <app-ordenproceso-list [popUp]="popUp" (seleccionarEvent)="agregarOrdenProceso($event)">
                    </app-ordenproceso-list>
                  </div>

                </ng-template>
                <button type="button" (click)="openModal(modalOrdenProceso)" class="btn btn-default"
                  style="margin-top: 1.5rem;">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <div class="col-12 col-md-5">
                <label for="basicInput">Numero de Orden de Proceso</label>
                <input type="text" class="form-control" id="basicInput" formControlName="numOrdenProceso" disabled>
                <label for="basicInput"></label>
                <input type="text" class="form-control" id="basicInput" formControlName="razonSocial" disabled>

                <label for="basicInput">Certificacion</label>
                <input type="text" class="form-control" id="basicInput" formControlName="tipoCertificacion" disabled>
                <label for="basicInput">Certificadora</label>
                <input type="text" class="form-control" id="basicInput" formControlName="certificadora" disabled>
              </div>
            </div>

            <!--           </form> -->
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="users-edit">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">

              <div class="row">
                <div class="col-md-5">
                  <ngx-datatable #tblMateriaPrima class="bootstrap core-bootstrap" [columnMode]="'force'"
                    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="limitRef"
                    [rows]="rowsMateriaPrima" [summaryRow]="true" [summaryPosition]="'bottom'">

                    <ngx-datatable-column name="Descripcion" prop="NumeroNotaIngresoPlanta" width="50">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Sacos" prop="Cantidad" width="50">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Humedad %" prop="HumedadPorcentaje" width="80">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Kilos Netos" prop="KilosNetos" width="80">
                    </ngx-datatable-column>
                  </ngx-datatable>

                </div>

                <div class="col-md-7">
                  <ngx-datatable #tblResultProceso class="bootstrap core-bootstrap" [columnMode]="'force'"
                    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="limitRef"
                    [rows]="rowsResultProceso" [scrollbarH]="false" [summaryRow]="true" [summaryPosition]="'bottom'">
                    <ngx-datatable-column name="Referencia" prop="Label" width="100">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Sacos" prop="CantidadSacos" width="50" [formGroup]="formGroupSacos"
                      [summaryTemplate]="totalSacos">
                     <ng-template let-row="row" let-name="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <input type="number" class="form-control" id="basicInput"
                          [formControlName]="row.Codigo+'%sacos'" (input)="calcularKilosNetos()">
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Kg. N" prop="KGN" width="50" [formGroup]="formGroupKg"
                      [summaryTemplate]="totalKg">
                      <ng-template let-row="row" let-name="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <input type="number" class="form-control" id="basicInput" [formControlName]="row.Codigo+'%Kg'" (input)="calcularKilosNetos()">

                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Kilos Netos" prop="KilosNetos" width="50"
                      [formGroup]="formGroupKilosNetos" [summaryTemplate]="totalKilosNetos">
                      <ng-template let-row="row" let-name="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <input type="number" class="form-control" id="basicInput"
                          [formControlName]="row.Codigo+'%kilosNetos'"  disabled>

                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="%" prop="LiquidacionProcesoPlantaId" width="50" [formGroup]="formGroupPorcentaje"
                      [summaryTemplate]="totalPorcentaje">
                      <ng-template let-row="row" let-name="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <input type="number" class="form-control" id="basicInput"
                          [formControlName]="row.Codigo+'%porcentaje'" disabled>

                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="QQ/46 Kg. N" prop="QQKg" width="50" [formGroup]="formGroupQqkg"
                      [summaryTemplate]="totalQqkg" disabled>
                      <ng-template let-row="row" let-name="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <input type="number" class="form-control" id="basicInput" [formControlName]="row.Codigo+'%qqkg'"
                          disabled>

                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                  <ng-template #totalSacos let-row="row" let-name="value" ngx-datatable-cell-template>
                    <input class="form-control" formControlName="totalSacos">
                  </ng-template>
                  <ng-template #totalKg let-row="row" let-name="value" ngx-datatable-cell-template>
                    <input class="form-control" formControlName="totalKg">
                  </ng-template>
                  <ng-template #totalKilosNetos let-row="row" let-name="value" ngx-datatable-cell-template>
                    <input class="form-control" formControlName="totalKilosNetos">
                  </ng-template>
                  <ng-template #totalPorcentaje let-row="row" let-name="value" ngx-datatable-cell-template>
                    <input class="form-control" formControlName="totalPorcentaje">
                  </ng-template>
                  <ng-template #totalQqkg let-row="row" let-name="value" ngx-datatable-cell-template>
                    <input class="form-control" formControlName="totalQqkg">
                  </ng-template>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <label for="basicInput" style="font-size: 0.7rem;">Observaciones</label>
                  <div class="position-relative has-icon-left">
                    <textarea id="bordered-form-6" rows="4" class="form-control" maxlength="100" name="notes"
                      formControlName="observacion">
                          </textarea>
                    <div class="form-control-position">
                      <i class="ft-file"></i>
                    </div>
                  </div>
                </div>
                <div class="col-7">
                  <label for="basicInput">Envases con su Productos</label>
                  <input type="text" class="form-control" id="basicInput" formControlName="envases">
                  <label for="basicInput">Trabajos Realizados</label>
                  <input type="text" class="form-control" id="basicInput" formControlName="trabajos">
                  <label for="basicInput">Numero de Defectos</label>
                  <input type="text" class="form-control" id="basicInput" formControlName="numDefectos">
                </div>
              </div>
              <div *ngIf="esEdit" class="row" style="margin-top: 2rem;">
                <div class="col-8 d-flex flex-sm-row flex-column">
                  <label class="col-md-5 col-form-label card-text" for="horizontal-form-1">Responsable</label>
                  <label class="col-md-7 col-form-label card-text" style="font-weight: bold;"
                    for="horizontal-form-1">{{responsable}}</label>
                </div>
                <div class="col-8 d-flex flex-sm-row flex-column">
                  <label class="col-md-5 col-form-label card-text" for="horizontal-form-1">Fecha Liquidacion de
                    Proceso</label>
                  <label class="col-md-7 col-form-label card-text" style="font-weight: bold;"
                    for="horizontal-form-1">{{fechaRegistro}}</label>
                </div>

              </div>
              <div class="col-md-10">
                <small class="form-text text-muted danger"
                  *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>
              </div>
              <div class="card-footer text-right" style="margin-top: 2rem;">
               
                <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2"
                  (click)="ImprimirLiquidacionProceso()" [disabled]="!id || id <= 0">Imprimir</button>
                <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" (click)="guardar()">Guardar</button>
                <button type="submit"class="btn btn-danger ml-1"
                  (click)="cancelar()">Cancelar</button>
              </div>
              <!--   </ng-template>
                  </li>
                </ul>-->


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
  </div>

</form>