<div class="row" *ngIf="!popUp">
    <div class="col-12">
        <div class="content-header">BANDEJA DE REGISTRO DE CONTRATOS</div>
    </div>
</div>

<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="needs-validation" [formGroup]="contratoForm" novalidate>
                            <div class="form-row">
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="nroContrato" class="form-label">N° Contrato</label>
                                    <input type="text" formControlName="nroContrato" class="form-control"
                                        id="nroContrato" placeholder="Número de contrato" name="nroContrato"
                                        [ngClass]="{ 'is-invalid': f.nroContrato.invalid, 'is-valid': !f.nroContrato.invalid }">
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="codCliente" class="form-label">Código Cliente</label>
                                    <input type="text" formControlName="codCliente" class="form-control" id="codCliente"
                                        placeholder="Código de cliente" name="codCliente"
                                        [ngClass]="{ 'is-invalid': f.codCliente.invalid, 'is-valid': !f.codCliente.invalid }">
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="fechaInicial" class="form-label">Fecha Inicial</label>
                                    <input type="date" class="form-control" formControlName="fechaInicial" date
                                        id="fechaInicial" name="fechaInicial" placeholder="Seleccionar fecha inicial"
                                        [ngClass]="{ 'is-invalid': f.fechaInicial.invalid, 'is-valid': !f.fechaInicial.invalid }" />
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="fechaFinal" class="form-label">Fecha Final</label>
                                    <input type="date" class="form-control" formControlName="fechaFinal" date
                                        id="fechaFinal" name="fechaFinal" placeholder="Seleccionar fecha final"
                                        [ngClass]="{ 'is-invalid': f.fechaFinal.invalid, 'is-valid': !f.fechaFinal.invalid }" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="descCliente" class="form-label">Cliente</label>
                                    <input type="text" formControlName="descCliente" class="form-control"
                                        id="descCliente" placeholder="Cliente"
                                        [ngClass]="{ 'is-invalid': f.descCliente.invalid, 'is-valid': !f.descCliente.invalid }">
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="producto" class="form-label">Producto</label>
                                    <ng-select [items]="listProductos" formControlName="producto" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" id="producto"
                                        placeholder="Seleccionar producto"
                                        [ngClass]="{ 'is-invalid': f.producto.invalid, 'is-valid': !f.producto.invalid }"
                                        [(ngModel)]="selectedProducto">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="tipoProduccion" class="form-label">Tipo de Producción</label>
                                    <ng-select [items]="listTipoProduccion" formControlName="tipoProduccion"
                                        class="form-control" bindLabel="Label" bindValue="Codigo" id="tipoProduccion"
                                        placeholder="Seleccionar tipo de producción"
                                        [ngClass]="{ 'is-invalid': f.tipoProduccion.invalid, 'is-valid': !f.tipoProduccion.invalid }"
                                        [(ngModel)]="selectedTipoProduccion">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="calidad" class="form-label">Calidad</label>
                                    <ng-select [items]="listCalidad" formControlName="calidad" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" id="calidad"
                                        placeholder="Seleccionar calidad"
                                        [ngClass]="{ 'is-invalid': f.calidad.invalid, 'is-valid': !f.calidad.invalid }"
                                        [(ngModel)]="selectedCalidad">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="estado" class="form-label">Estado</label>
                                    <ng-select [items]="listEstados" formControlName="estado" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" id="estado"
                                        placeholder="Seleccionar estado"
                                        [ngClass]="{ 'is-invalid': f.estado.invalid, 'is-valid': !f.estado.invalid }"
                                        [(ngModel)]="selectedEstado">
                                    </ng-select>
                                </div>
                                <div *ngIf="tipoEmpresaId === '01' " class="col-md-3 mb-4 form-group mb-2">
                                    <label for="tipoContrato" class="form-label">Tipo de Contrato</label>
                                    <ng-select [items]="listTipoContrato" formControlName="tipoContrato" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" id="estado"
                                        placeholder="Seleccionar Tipo Contrato"
                                        [ngClass]="{ 'is-invalid': f.tipoContrato.invalid, 'is-valid': !f.tipoContrato.invalid }"
                                        [(ngModel)]="selectedTipoContrato">
                                    </ng-select>
                                </div>
                            </div>

                            <small class="form-text text-muted danger mb-1"
                                *ngIf="errorGeneral.isError">{{errorGeneral.msgError}}</small>
                            <button class="btn btn-primary mr-1 mb-1" type="submit" (click)="Buscar()"
                                [disabled]="contratoForm.invalid">Buscar</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button"  *ngIf="!popUp" (click)="Nuevo()">Nuevo</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button" data-toggle="tooltip"
                            data-placement="top" (click)="Agregar(selected)"
                            [disabled]="!rows.length || !selected.length" *ngIf="popUp">Seleccionar</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button"
                                [disabled]="!selected || selected.length <= 0" (click)="Cancel()" *ngIf="!popUp">Anular</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button"
                                [disabled]="!rows || rows.length <= 0" *ngIf="!popUp" (click)="Export()">Exportar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>

<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Show
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                            <label for="ngx-filter-ref" class="float-right">Search:
                                <input id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
                                    (keyup)="filterUpdate($event)" />
                            </label>
                        </fieldset>
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true"
                            [selected]="selected" [selectionType]="'single'" [selectCheck]="onSelectCheck">
                            <ngx-datatable-column *ngIf="!popUp" name="Contrato" prop="Numero" width="120">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                            <a class="line-height-1 mb-0"
                                                [routerLink]="['/exportador/operaciones/contrato/update', row.ContratoId]">{{
                                                name }}</a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf="popUp" name="Contrato" prop="Numero" width="120">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha de Contrato" prop="FechaContratoString" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column  *ngIf="tipoEmpresaId === '01' "  name="Tipo Contrato" prop="TipoContrato" width="120">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Codigo Cliente" prop="NumeroCliente" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Cliente" prop="Cliente" width="250">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Certificación" prop="TipoCertificacion" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Calidad" prop="Calidad" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Mes de Embarque" prop="FechaEmbarque" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Condicion de Embarque" prop="CondicionEmbarque" width="200">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Nro. Contenedor" prop="CantidadContenedores" width="140">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Cantidad" prop="TotalSacos" width="120">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Tipo de Empaque" prop="TipoEmpaque" width="140">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Kilos Netos" prop="PesoKilos" width="120">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Kg. Netos en QQ" prop="KilosNetosQQ" width="140">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Kg. Neto en LB" prop="KilosNetosLB" width="140">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Fijación Contrato" prop="FechaFijacionContrato" width="200">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Estado Fijación" prop="EstadoFijacion" width="140">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Precio Nivel Fijación" prop="PrecioNivelFijacion" width="180">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Diferencial" prop="Diferencial" width="140">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="PU Total" prop="PUTotalA" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Precio a Facturar" prop="TotalFacturar1" width="140">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Nota de Crédito/Comisión" prop="NotaCreditoComision" width="200">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Precio" prop="PUTotalB" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="PRxFT" prop="TotalFacturar2" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Gastos de Exportación" prop="GastosExpCostos" width="180">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Precio de Venta" prop="TotalFacturar3" width="140">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Producto" prop="Producto" width="140">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Tipo de Producción" prop="TipoProduccion" width="180">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Estado" prop="Estado" width="140">
                                <ng-template let-status="value" ngx-datatable-cell-template>
                                    <div class="badge"
                                        [ngClass]="{'bg-light-success': status == 'Activo', 'bg-light-warning': status == 'Inactivo' }">
                                        {{ status }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>