<form class="needs-validation" [formGroup]="aduanasFormEdit">
    <section id="tooltip-validation">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="margin-bottom: 2rem;">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <div class="card-title-empresa">{{login.Result.Data.RazonSocialEmpresa}}</div>
                                <div class="card-subtitle-empresa">{{login.Result.Data.DireccionEmpresa}}</div>
                                <div class="card-subtitle-empresa">RUC: {{login.Result.Data.RucEmpresa}}</div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-row">
                                    <div class="col-md-6 form-group" *ngIf="esEdit">
                                        <label class="card-forms" for="users-edit-name">N° ADUANA</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="card-forms" for="users-edit-username"
                                            style="font-weight: bold;">{{numero}}</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 form-group" *ngIf="esEdit">
                                        <label class="card-forms" for="users-edit-email">FECHA</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="card-forms" for="users-edit-username"
                                            style="font-weight: bold;">{{fechaRegistro}}</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 form-group" *ngIf="esEdit">
                                        <label class="card-forms" for="users-edit-name">Estado</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="card-forms" for="users-edit-username"
                                            style="font-weight: bold;">{{estado}}</label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row"
                            style="margin-right: 6rem; margin-left: 6rem; text-align: center; margin-top: 2rem; background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
                            <div class="card-subtitle-form">DATOS GENERALES PARA ADUANAS</div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-3">
                                <label for="basicInput">Contrato N°</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="contrato"
                                    disabled class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.contrato.invalid, 'is-valid': submittedEdit && !fedit.contrato.invalid }">
                                <small class="form-text text-muted danger"
                                    *ngIf="fedit.contrato.errors?.required">Ingrese Numero Contrato</small>
                            </div>

                            <div class="col-12 col-md-1" style="padding-left: 0cm;">
                                <ng-template #modalContrato let-c="close" let-d="dismiss">
                                    <div class="modal-header" style="text-align: center;">

                                        <h4 class="modal-title" style="font-size: 1rem;">Bandeja de Registro de
                                            Contratos</h4>
                                        <button type="button" class="close" aria-label="Close" (click)="close()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ngx-spinner></ngx-spinner>
                                        <div class="row"
                                            style="text-align: center;background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
                                            <div class="card-subtitle-form modal-title">Criterios de Busqueda</div>
                                        </div>
                                        <app-contrato [popUp]="popUp"
                                            (agregarContratoEvent)="receiveMessageContrato($event)">
                                        </app-contrato>
                                    </div>

                                </ng-template>
                                <button type="button" (click)="openModal(modalContrato)" class="btn btn-default"
                                    style="margin-top: 1.5rem;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="basicInput">Ruc / Agencia Aduanera</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="ruc"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.ruc.invalid, 'is-valid': submittedEdit && !fedit.ruc.invalid }"
                                    disabled>

                            </div>
                            <div class="col-12 col-md-4">
                                <label for="basicInput"></label>
                                <input type="text" class="form-control" id="basicInput" formControlName="agencia"
                                    disabled>
                            </div>
                            <div class="col-12 col-md-1" style="padding-left: 0cm;">
                                <ng-template #modalEmpresa let-c="close" let-d="dismiss">
                                    <app-consultar-empresa (empresaEvent)="receiveMessage($event)">
                                    </app-consultar-empresa>
                                </ng-template>
                                <button type="button" (click)="openModal(modalEmpresa)" class="btn btn-default"
                                    style="margin-top: 1.5rem;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-8">
                                <label for="basicInput">Cliente Final</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="clientefinal"
                                    disabled class="form-control">
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Flo Id</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="floid"
                                    disabled>

                            </div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Exportador</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="exportador"
                                    disabled class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.exportador.invalid, 'is-valid': submittedEdit && !fedit.exportador.invalid }">
                                <small class="form-text text-muted danger"
                                    *ngIf="fedit.exportador.errors?.required">Ingrese Exportador</small>
                            </div>
                            <div class="col-12 col-md-1" style="padding-left: 0cm;">
                                <ng-template #modalExportador let-c="close" let-d="dismiss">
                                    <app-consultar-empresa (empresaEvent)="receiveMessageExportador($event)">
                                    </app-consultar-empresa>
                                </ng-template>
                                <button type="button" (click)="openModal(modalExportador)" class="btn btn-default"
                                    style="margin-top: 1.5rem;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>

                            <div class="col-12 col-md-7">
                                <label for="certificacionesExportador" class="form-label">Certificaciones Solicitadas
                                    Exportador</label>
                                <ng-multiselect-dropdown [placeholder]="'Seleccionar Certificaciones'"
                                    formControlName="certificacionesExportador" [settings]="dropdownSettings"
                                    [data]="dropdownListExp" [(ngModel)]="selectedItemsExp"
                                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                                <small class="form-text text-muted danger"
                                    *ngIf="fedit.certificacionesExportador.errors?.required">Seleccionar
                                    Certificaciones</small>
                            </div>


                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Productor</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="productor"
                                    disabled class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.productor.invalid, 'is-valid': submittedEdit && !fedit.productor.invalid }">
                                <small class="form-text text-muted danger"
                                    *ngIf="fedit.productor.errors?.required">Ingrese Productor</small>
                            </div>

                            <div class="col-12 col-md-1" style="padding-left: 0cm;">
                                <ng-template #modalProductor let-c="close" let-d="dismiss">
                                    <app-consultar-empresa (empresaEvent)="receiveMessageProductor($event)">
                                    </app-consultar-empresa>
                                </ng-template>
                                <button type="button" (click)="openModal(modalProductor)" class="btn btn-default"
                                    style="margin-top: 1.5rem;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>

                            <div class="col-12 col-md-7">
                                <label for="estado" class="form-label">Certificaciones Solicitadas Productor</label>
                                <ng-multiselect-dropdown [placeholder]="'Seleccionar Certificaciones'"
                                    formControlName="certificacionesProductor" [settings]="dropdownSettings"
                                    [data]="dropdownListProd" [(ngModel)]="selectedItemsProd"
                                    [ngClass]="{ 'is-invalid': submitted && fedit.certificacionesProductor.invalid, 'is-valid': submitted && !fedit.certificacionesProductor.invalid }"
                                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                                <small class="form-text text-muted danger"
                                    *ngIf="fedit.certificacionesProductor.errors?.required">Seleccionar
                                    Certificaciones</small>
                            </div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Nro. Contrato Interno-Productor</label>
                                <input type="text" class="form-control" id="basicInput"
                                    formControlName="numeroContratoInternoProductor" disabled class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.numeroContratoInternoProductor.invalid, 'is-valid': submittedEdit && !fedit.numeroContratoInternoProductor.invalid }">
                                <small class="form-text text-muted danger"
                                    *ngIf="fedit.productor.errors?.required">Ingrese Número de Contrato Interno
                                    Productor</small>
                            </div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-3">
                                <label for="basicInput">Mes Embarque</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="mesEmbarque"
                                    disabled class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.mesEmbarque.invalid, 'is-valid': submittedEdit && !fedit.mesEmbarque.invalid }">
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="basicInput">Fecha Salida de Planta</label>
                                <input type="date" class="form-control" id="basicInput" formControlName="fechaEmbarque"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.fechaEmbarque.invalid, 'is-valid': submittedEdit && !fedit.fechaEmbarque.invalid }">

                            </div>
                            <div class="col-12 col-md-3">
                                <label for="basicInput">Fecha Zarpe de Nave</label>
                                <input type="date" class="form-control" id="basicInput" formControlName="fechaZarpeNave"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.fechaZarpeNave.invalid, 'is-valid': submittedEdit && !fedit.fechaZarpeNave.invalid }">

                            </div>
                            <div class="col-12 col-md-3">
                                <label for="basicInput">Fecha Fac./Exp.</label>
                                <input type="date" class="form-control" id="basicInput" formControlName="fechaFac"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.fechaFac.invalid, 'is-valid': submittedEdit && !fedit.fechaFac.invalid }">

                            </div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-3">
                                <label for="basicInput">Puerto</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="puerto"
                                    class="form-control" placeholder="Puerto"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.puerto.invalid, 'is-valid': submittedEdit && !fedit.puerto.invalid }">
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="basicInput">Marca</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="marca"
                                    class="form-control" placeholder="Marca"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.marca.invalid, 'is-valid': submittedEdit && !fedit.marca.invalid }">
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="basicInput">Po#</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="po"
                                    class="form-control" placeholder="PO #"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.po.invalid, 'is-valid': submittedEdit && !fedit.po.invalid }">

                            </div>
                        </div>
                        <div class="row"
                            style="margin-right: 6rem; margin-left: 6rem; text-align: center; margin-top: 2rem; background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
                            <div class="card-subtitle-form">DATOS DEL CARGAMENTO A EMBARCAR</div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Producto</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="producto"
                                    disabled class="form-control">
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Sub Producto</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="subproducto"
                                    disabled class="form-control">
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Calidad</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="calidad"
                                    disabled class="form-control">
                            </div>

                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Empaque / Tipo</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="empaque"
                                    disabled class="form-control">
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Certificación</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="certificacion"
                                    disabled class="form-control">
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Cantidad de Defectos</label>
                                <input type="text" class="form-control" id="basicInput"
                                    formControlName="cantidadDefectos" disabled class="form-control">
                            </div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Cantidad</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="cantidad"
                                    disabled class="form-control">
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Nro. Contenedores</label>
                                <input type="text" class="form-control" id="basicInput"
                                    formControlName="numeroContenedores" class="form-control"
                                    placeholder="Nro. Contenedores" disabled class="form-control">

                            </div>
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Status Pago Factura</label>
                                <input type="text" class="form-control" id="basicInput"
                                    formControlName="statusPagoFactura" disabled class="form-control">
                            </div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Peso por Saco Kg</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="pesoxsaco"
                                    disabled class="form-control">
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="embarqueStatus">Status de Embarque</label>
                                <ng-select [items]="listEstadoEmbarque" formControlName="embarqueStatus"
                                    class="form-control" bindLabel="Label" bindValue="Codigo" id="embarqueStatus"
                                    placeholder="Seleccionar Estado de Embarque"
                                    [ngClass]="{ 'is-invalid': submitted && fedit.embarqueStatus.invalid, 'is-valid': submitted && !fedit.embarqueStatus.invalid }"
                                    [(ngModel)]="selectEstadoEmbarque">
                                </ng-select>


                            </div>
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Fecha Pago Factura</label>
                                <input type="text" class="form-control" id="basicInput"
                                    formControlName="fechaPagoFactura" disabled class="form-control">
                            </div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Total Kilos Netos</label>
                                <input type="text" class="form-control" id="basicInput"
                                    formControlName="totalkilosnetos" disabled class="form-control">
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="basicInput">Fecha de Estampado</label>
                                <input type="date" class="form-control" id="basicInput" formControlName="fechaEstampado"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.fechaEstampado.invalid, 'is-valid': submittedEdit && !fedit.fechaEstampado.invalid }">
                            </div>
                        </div>
                        <div class="row"
                            style="margin-right: 6rem; margin-left: 6rem; text-align: center; margin-top: 2rem; background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
                            <div class="card-subtitle-form">SEGUIMIENTO DE MUESTRAS</div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">

                            <div class="col-12 col-md-6">
                                <label for="basicInput">Fecha Envío</label>
                                <input type="date" class="form-control" id="basicInput" formControlName="fechaEnvio"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.fechaEnvio.invalid, 'is-valid': submittedEdit && !fedit.fechaEnvio.invalid }">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="basicInput">Courier</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="courier"
                                    placeholder="Courier"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.courier.invalid, 'is-valid': submittedEdit && !fedit.courier.invalid }">
                            </div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-6">
                                <label for="basicInput">Fecha Recepción en Destino </label>
                                <input type="date" class="form-control" id="basicInput" formControlName="fechaRecepcion"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.fechaRecepcion.invalid, 'is-valid': submittedEdit && !fedit.fechaRecepcion.invalid }">

                            </div>
                            <div class="col-12 col-md-6">
                                <label for="basicInput">Tracking Number</label>
                                <input type="text" class="form-control" id="basicInput" formControlName="trackingNumber"
                                    placeholder="Tracking Number"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.trackingNumber.invalid, 'is-valid': submittedEdit && !fedit.trackingNumber.invalid }">
                            </div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12 col-md-6">
                                <label for="customsTrackingStatus">ESTADO DE ENVIO</label>
                                <ng-select [items]="listEstadoEnvio" formControlName="estadoEnvio" class="form-control"
                                    bindLabel="Label" bindValue="Codigo" id="estadoEnvio"
                                    placeholder="Seleccionar Estado de Envio"
                                    [ngClass]="{ 'is-invalid': submitted && fedit.estadoEnvio.invalid, 'is-valid': submitted && !fedit.estadoEnvio.invalid }"
                                    [(ngModel)]="selectEstadoEnvio">
                                </ng-select>
                            </div>

                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                            <div class="col-12">
                                <label for="basicInput" style="font-size: 0.7rem;">OBSERVACIONES (ADDITIONAL
                                    NOTES)</label>
                                <div class="position-relative has-icon-left textarea">
                                    <textarea id="bordered-form-6" rows="4" class="form-control"
                                        formControlName="observacion" name="notes"></textarea>
                                    <div class="form-control-position">
                                        <i class="ft-file"></i>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row"
                            style="margin-right: 6rem; margin-left: 6rem; text-align: center; margin-top: 2rem; background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
                            <div class="card-subtitle-form">SEGUIMIENTO DE DOCUMENTOS</div>
                        </div>
                        <div class="row" style="margin-right: 6rem; margin-left: 6rem;">

                            <div class="col-12 col-md-6">
                                <label for="basicInput">Fecha Envío Documentos</label>
                                <input type="date" class="form-control" id="basicInput"
                                    formControlName="fechaEnvioDocumentos" class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.fechaEnvioDocumentos.invalid, 'is-valid': submittedEdit && !fedit.fechaEnvioDocumentos.invalid }">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="basicInput">Fecha Llegada Documentos</label>
                                <input type="date" class="form-control" id="basicInput"
                                    formControlName="fechaLlegadaDocumentos" class="form-control"
                                    [ngClass]="{ 'is-invalid': submittedEdit && fedit.fechaLlegadaDocumentos.invalid, 'is-valid': submittedEdit && !fedit.fechaLlegadaDocumentos.invalid }">
                            </div>
                        </div>


                        <div class="row" style="margin-top: 2rem; margin-right: 6rem; margin-left: 6rem;">
                            <small class="form-text text-muted danger"
                                *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>

    <div class="card-footer text-right" style="margin-top: 2rem;">
        <ng-template #mdlListDocuments let-c="close" let-d="dismiss">
            <app-lista-documentos [codeForm]="'frmMdlListDocumentsAduana'" [code]="id">
            </app-lista-documentos>
        </ng-template>
        <button *ngIf="esEdit" class="btn btn-primary" (click)="openModal(mdlListDocuments)">Documentos</button>
        <button class="btn btn-primary  ml-1" (click)="guardar()">Guardar</button>
        <button class="btn btn-danger ml-1" (click)="cancelar()">Cancelar</button>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <ngx-spinner></ngx-spinner>
    </div>

</form>