<form class="needs-validation" [formGroup]="frmSolicitudCompraNew" novalidate>
    <div class="form-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card mt-0">
                <h5 class="card-header bg-primary text-white text-center align-middle p-0 pt-1 pb-1">
                    {{frmTitle}}{{frmSolicitudCompraNew.value.correlativo}}
                </h5>
                <div class="card-body">
                    <div class="form-row"
                        *ngIf="userSession.RolId === 7 || userSession.RolId === 8 || userSession.RolId === 9">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="form-group row">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group row">
                                <label for="destino" class="col-lg-5 col-form-label pr-0">FECHA REGISTRO</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <label class="col-form-label">{{locFechaRegistroString}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row"
                        *ngIf="userSession.RolId === 7 || userSession.RolId === 8 || userSession.RolId === 9">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="form-group row">
                                <label for="destino" class="col-lg-2 col-form-label pr-0">DISTRIBUIDORA</label>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                    <label class="col-form-label">{{frmSolicitudCompraNew.value.distribuidora}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group row">
                                <label for="destino" class="col-lg-5 col-form-label pr-0">ESTADO</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <label class="col-form-label">{{frmSolicitudCompraNew.value.estado}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row bg-primary align-middle mb-2 pt-1 pb-1">
                        <label class="text-white ml-1">DATOS GENERALES</label>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="form-group row">
                                <label for="destino" class="col-lg-2 col-form-label pr-0">DESTINO</label>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <ng-select [items]="listPaises" formControlName="pais" class="form-control"
                                        bindLabel="Descripcion" bindValue="Codigo" placeholder="País"
                                        [ngClass]="{ 'is-invalid': submitted && f.pais.invalid, 'is-valid': !submitted && !f.pais.invalid }"
                                        [(ngModel)]="selectedPais" (change)="onChangePais($event)"
                                        [readonly]="userSession.RolId != 6">
                                    </ng-select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <ng-select [items]="listCiudades" formControlName="ciudad" class="form-control"
                                        bindLabel="Descripcion" bindValue="Codigo" placeholder="Ciudad"
                                        [ngClass]="{ 'is-invalid': submitted && f.ciudad.invalid, 'is-valid': !submitted && !f.ciudad.invalid }"
                                        [(ngModel)]="selectedCiudad"
                                        [readonly]="userSession.RolId != 6 || !selectedPais">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="moneda" class="col-lg-4 col-form-label">MONEDA</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ng-select [items]="listMonedas" formControlName="moneda" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" placeholder="Moneda"
                                        [ngClass]="{ 'is-invalid': submitted && f.moneda.invalid, 'is-valid': !submitted && !f.moneda.invalid }"
                                        [(ngModel)]="selectedMoneda" (change)="ChangeMoneda()"
                                        [readonly]="userSession.RolId != 6">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="unidadMedida" class="col-lg-5 col-form-label pr-0">UNI.
                                    MEDIDA</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <ng-select [items]="listUniMedida" formControlName="unidadMedida"
                                        class="form-control" bindLabel="Label" bindValue="Codigo"
                                        placeholder="Unidad de medida" [readonly]="userSession.RolId != 6"
                                        [ngClass]="{ 'is-invalid': submitted && f.unidadMedida.invalid, 'is-valid': !submitted && !f.unidadMedida.invalid }"
                                        [(ngModel)]="selectedUniMedida">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="tipoProduccion" class="col-lg-4 col-form-label pr-0">TIPO DE
                                    PRODUCCIÓN</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ng-select [items]="listTipoProduccion" formControlName="tipoProduccion"
                                        class="form-control" bindLabel="Label" bindValue="Codigo"
                                        placeholder="Tipo de producción" [readonly]="userSession.RolId != 6"
                                        [ngClass]="{ 'is-invalid': submitted && f.tipoProduccion.invalid, 'is-valid': !submitted && !f.tipoProduccion.invalid }"
                                        [(ngModel)]="selectedTipoProduccion">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="empaque" class="col-lg-4 col-form-label pr-0">EMPAQUE</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ng-select [items]="listEmpaques" formControlName="empaque" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" placeholder="Empaque"
                                        [(ngModel)]="selectedEmpaque" [readonly]="userSession.RolId != 6"
                                        [ngClass]="{ 'is-invalid': submitted && f.empaque.invalid, 'is-valid': !submitted && !f.empaque.invalid }">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="tipoEmpaque" class="col-lg-5 col-form-label pr-0">TIPO EMPAQUE</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <ng-select [items]="listTiposEmpaques" formControlName="tipoEmpaque"
                                        class="form-control" bindLabel="Label" bindValue="Codigo"
                                        placeholder="Tipo Empaque" [(ngModel)]="selectedTipoEmpaque"
                                        [readonly]="userSession.RolId != 6"
                                        [ngClass]="{ 'is-invalid': submitted && f.tipoEmpaque.invalid, 'is-valid': !submitted && !f.tipoEmpaque.invalid }">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="producto" class="col-lg-4 col-form-label">PRODUCTO</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ng-select [items]="listProductos" formControlName="producto" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" placeholder="Producto"
                                        [ngClass]="{ 'is-invalid': submitted && f.producto.invalid, 'is-valid': !submitted && !f.producto.invalid }"
                                        [(ngModel)]="selectedProducto" (change)="ChangeProduct($event)"
                                        [readonly]="userSession.RolId != 6">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="subProducto" class="col-lg-4 col-form-label">SUB PRODUCTO</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ng-select [items]="listSubProductos" formControlName="subProducto"
                                        class="form-control" bindLabel="Label" bindValue="Codigo"
                                        placeholder="Sub Producto"
                                        [readonly]="userSession.RolId != 6 || !selectedProducto"
                                        [ngClass]="{ 'is-invalid': submitted && f.subProducto.invalid, 'is-valid': !submitted && !f.subProducto.invalid }"
                                        [(ngModel)]="selectedSubProducto">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="gradoPreparacion" class="col-lg-5 col-form-label">GRADO PREPARACIÓN</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <ng-select [items]="listGradosPreparacion" formControlName="gradoPreparacion"
                                        class="form-control" bindLabel="Label" bindValue="Codigo"
                                        placeholder="Grado Preparación" [(ngModel)]="selectedGradoPreparacion"
                                        [readonly]="userSession.RolId != 6"
                                        [ngClass]="{ 'is-invalid': submitted && f.gradoPreparacion.invalid, 'is-valid': !submitted && !f.gradoPreparacion.invalid }">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="calidad" class="col-lg-4 col-form-label">CALIDAD</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ng-select [items]="listCalidad" formControlName="calidad" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" placeholder="Calidad"
                                        [ngClass]="{ 'is-invalid': submitted && f.calidad.invalid, 'is-valid': !submitted && !f.calidad.invalid }"
                                        [(ngModel)]="selectedCalidad" [readonly]="userSession.RolId != 6">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="certificacion" class="col-lg-4 col-form-label">CERTIFICACIÓN</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ng-select [items]="listCertificaciones" formControlName="certificacion"
                                        class="form-control" bindLabel="Label" bindValue="Codigo"
                                        placeholder="certificacion"
                                        [ngClass]="{ 'is-invalid': submitted && f.certificacion.invalid, 'is-valid': !submitted && !f.certificacion.invalid }"
                                        [(ngModel)]="selectedCertificacion" [readonly]="userSession.RolId != 6">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="cantASolicitar" class="col-lg-5 col-form-label pr-0">CANTIDAD A
                                    SOLICITAR</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <input type="number" formControlName="cantASolicitar"
                                        class="form-control text-right" placeholder="Cantidad a solicitar"
                                        (blur)="CalcularPesoEnKilos()" [readonly]="userSession.RolId != 6"
                                        [ngClass]="{ 'is-invalid': submitted && f.cantASolicitar.invalid, 'is-valid': !submitted && !f.cantASolicitar.invalid }">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="pesoXSaco" class="col-lg-4 col-form-label">PESO POR SACO</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <input type="number" formControlName="pesoXSaco" class="form-control text-right"
                                        placeholder="Peso por saco" (blur)="CalcularPesoEnKilos()"
                                        [readonly]="userSession.RolId != 6"
                                        [ngClass]="{ 'is-invalid': submitted && f.pesoXSaco.invalid, 'is-valid': !submitted && !f.pesoXSaco.invalid }">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="pesoEnKilos" class="col-lg-4 col-form-label">PESO EN KILOS</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <input type="number" formControlName="pesoEnKilos" class="form-control text-right"
                                        placeholder="Peso en kilos" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': submitted && f.pesoEnKilos.invalid, 'is-valid': !submitted && !f.pesoEnKilos.invalid }">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="observaciones" class="col-lg-4 col-form-label">OBSERVACIONES</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <textarea class="form-control" formControlName="observaciones" rows="4"
                                        placeholder="Observaciones" maxlength="500" [readonly]="userSession.RolId != 6"
                                        [ngClass]="{ 'is-invalid': f.observaciones.invalid, 'is-valid': !f.observaciones.invalid }"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="locId > 0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="costoUnitario" class="col-lg-5 col-form-label">COSTO UNITARIO</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <input type="number" formControlName="costoUnitario" class="form-control text-right"
                                        placeholder="Costo unitario" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.costoUnitario.invalid, 'is-valid': !f.costoUnitario.invalid }">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group row">
                                <label for="costoTotal" class="col-lg-4 col-form-label">COSTO TOTAL</label>
                                <div class="col-lg-8">
                                    <input type="number" formControlName="costoTotal" class="form-control text-right"
                                        placeholder="Costo unitario" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.costoTotal.invalid, 'is-valid': !f.costoTotal.invalid }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-footer">
                <div class="form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group row m-0">
                            <div class="col-lg-12 text-right">
                                <button type="button" class="btn btn-primary mr-1" (click)="EnviarSolicitud()"
                                    *ngIf="userSession.RolId === 6">Enviar
                                    Solicitud</button>
                                <button type="button" class="btn btn-primary mr-1"
                                    *ngIf="locCodigoEstado === '01' && userSession.RolId === 7"
                                    (click)="GenerarContrato()">Generar
                                    Contrato</button>
                                <button type="button" class="btn btn-danger" (click)="Cancelar()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>