<div class="row">
    <div class="col-12">
        <div class="content-header text-center">NOTAS DE INGRESO DE CAFÉ PROCESADO</div>
    </div>
</div>

<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="needs-validation" [formGroup]="frmNotaIngresoDevolucion" novalidate>
                            <div class="form-row">
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="fechaInicio" class="form-label">Fecha Inicio</label>
                                    <input type="date" class="form-control" formControlName="fechaInicio"
                                        placeholder="date" date
                                        [ngClass]="{ 'is-invalid': f.fechaInicio.invalid, 'is-valid': !f.fechaInicio.invalid }"
                                        (blur)="compareTwoDates()" />
                                </div>
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="fechaFin" class="form-label">Fecha Fin</label>
                                    <input type="date" class="form-control" formControlName="fechaFin"
                                        placeholder="date" date
                                        [ngClass]="{ 'is-invalid': f.fechaFin.invalid, 'is-valid': !f.fechaFin.invalid }"
                                        (blur)="compareTwoDates()" />
                                </div>
                            </div>

                            <small class="form-text text-muted danger mb-1"
                                *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>
                            <button class="btn btn-primary mr-1 mb-1" type="submit" (click)="Buscar()"
                                [disabled]="frmNotaIngresoDevolucion.invalid">Buscar</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Nuevo()"
                                *ngIf="userSession.RolId === 8">Nuevo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>
<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Mostrar
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                filas</label>
                        </fieldset>
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" rowHeight="'auto'" [limit]="limitRef" [rows]="rows" [scrollbarH]="true">
                            <ngx-datatable-column name="N° Nota Ingreso" prop="CorrelativoNID">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                            <a class="line-height-1 mb-0"
                                                [routerLink]="['/acopio/operaciones/notaingresodevolucion/update', row.NotaIngresoDevolucionId]">{{
                                                name }}</a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="N° Guia Planta" prop="CorrelativoGRP">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Almacén" prop="Almacen">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Observaciones" prop="Observaciones">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Usuario Registro" prop="UsuarioRegistro">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Registro" prop="FechaRegistro">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Hash Blokchain" prop="HashBC">
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>