<section id="login" class="container">
    <div class="row auth-height full-height-vh m-0">
      <div class="col-8 m-auto align-items-center justify-content-center">
        <div class="card overflow-hidden">
          <div class="card-content">
            <div class="card-body auth-img">
              <div class="row m-0">
                <div class="col-lg-12 col-12 px-4 py-3">
                    <form class="needs-validation" [formGroup]="frmValoracion" novalidate>
                        <div class="form-row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card mt-0 mb-0">
                                    <h4 class="mb-2 card-title text-center"> {{frmTitle}}</h4>
                                    <div class="card-body pb-0">
                                        <div class="form-row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group row">
                                                    <label for="destino" class="col-lg-4 col-form-label">TIPO DOCUMENTO</label>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <ng-select [items]="listaTipoDocumento" formControlName="tipoDocumento" class="form-control"
                                                            bindLabel="Label" bindValue="Codigo" placeholder="Tipo de Documento"
                                                            [ngClass]="{ 'is-invalid': submitted && f.tipoDocumento.invalid, 'is-valid': !submitted && !f.tipoDocumento.invalid }"
                                                            (change)="onChangeTipoDocumento($event)"
                                                            [(ngModel)]="selectedDocumento"
                                                            [readonly]="isReadonly"
                                                           >
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group row">
                                                    <label for="moneda" class="col-lg-4 col-form-label">NRO. DOCUMENTO</label>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <input type="text" formControlName="nroDocumento" class="form-control"
                                                        placeholder="Ingrese su nro. de documento"
                                                        [ngClass]="{ 'is-invalid': submitted && f.nroDocumento.invalid, 'is-valid': !submitted && !f.nroDocumento.invalid }"
                                                        [readonly]="isReadonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">  
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group row mb-0">
                                                    <label for="moneda" class="col-lg-4 col-form-label">NOMBRES Y APELLIDOS</label>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <input type="text" formControlName="nombreApellido" class="form-control"
                                                        placeholder="Ingrese su nombre y apellidos"
                                                        [ngClass]="{ 'is-invalid': submitted && f.nombreApellido.invalid, 'is-valid': !submitted && !f.nombreApellido.invalid }"
                                                        [readonly]="isReadonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">  
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="isReadonly"></ngb-rating>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <textarea class="form-control" formControlName="comentario" rows="4"
                                                            placeholder="Ingrese su comentario" maxlength="500"
                                                            [ngClass]="{ 'is-invalid': submitted &&f.comentario.invalid, 'is-valid': !submitted && !f.comentario.invalid }"
                                                            [readonly]="isReadonly"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group row m-0">
                                                    <div class="col-lg-12 text-right">
                                                        <button type="button" class="btn btn-primary mr-1" (click)="confirmarEnvioValoracion()" [disabled]="isReadonly">Enviar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center">
                    <ngx-spinner></ngx-spinner>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



