<div class="row">
    <div class="col-12">
        <div class="content-header">BANDEJA DE INGRESO DE INFORMACION DE ADUANAS Y EMBARQUE</div>
    </div>
</div>

<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="needs-validation" [formGroup]="aduanasForm">
                            <div class="form-row">
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="codigo" class="form-label">Codigo </label>
                                    <input type="text" minlength="5" maxlength="50" formControlName="codigo"
                                        class="form-control" id="codigo" placeholder="Codigo"
                                        [ngClass]="{ 'is-invalid': submitted && f.codigo.invalid, 'is-valid': submitted &&  !f.codigo.invalid }">

                                </div>
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="numeroContrato" class="form-label">N° CONTRATO</label>
                                    <input type="text" minlength="5" maxlength="50" formControlName="numeroContrato"
                                        class="form-control" id="numeroContrato"
                                        placeholder="Ingresar Numero de Contrato"
                                        [ngClass]="{ 'is-invalid': submitted && f.numeroContrato.invalid, 'is-valid': submitted &&  !f.numeroContrato.invalid }">

                                </div>

                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="estado" class="form-label">Estado</label>
                                    <ng-select [items]="listEstados" formControlName="estado" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" id="estado"
                                        placeholder="Seleccionar Estado"
                                        [ngClass]="{ 'is-invalid': submitted && f.estado.invalid, 'is-valid': submitted && !f.estado.invalid }"
                                        [(ngModel)]="selectedEstado">
                                    </ng-select>
                                </div>
                               
                                
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="fechaInicio" class="form-label">Fecha Inicio</label>
                                    <input type="date" class="form-control" formControlName="fechaInicio"
                                        id="fechaInicio" name="fechaInicio" placeholder="date" date
                                        [ngClass]="{ 'is-invalid': submitted && f.fechaInicio.invalid, 'is-valid': submitted && !f.fechaInicio.invalid }"
                                        (blur)="compareTwoDates()" />
                                    <small class="form-text text-muted danger"
                                        *ngIf="errorFecha.isError">{{errorFecha.errorMessage}}</small>
                                </div>
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="fechaFin" class="form-label">Fecha Fin</label>
                                    <input type="date" class="form-control" formControlName="fechaFin" id="fechaFin"
                                        name="fechaFin" placeholder="Seleccionar Fecha Fín" date
                                        [ngClass]="{ 'is-invalid': submitted && f.fechaFin.invalid, 'is-valid': submitted && !f.fechaFin.invalid }"
                                        (blur)="compareTwoDates()" />
                                    <small class="form-text text-muted danger"
                                        *ngIf="error.isError">{{error.errorMessage}}</small>
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="agenciaAduanera" class="form-label">Agencia Aduanera </label>
                                    <input type="text" formControlName="agenciaAduanera"
                                        class="form-control" id="agenciaAduanera" placeholder="Codigo"
                                        [ngClass]="{ 'is-invalid': submitted && f.agenciaAduanera.invalid, 'is-valid': submitted &&  !f.agenciaAduanera.invalid }" disabled>
                                </div>
                                <div class="col-md-1 mb-4 form-group mb-2">
                                    <ng-template #modalEmpresa let-c="close" let-d="dismiss">
                                        <app-consultar-empresa (empresaEvent)="receiveMessage($event)">
                                        </app-consultar-empresa>
                                    </ng-template>
                                <button type="button" class="btn btn-default" (click)="openModal(modalEmpresa)"
                                    style="margin-top: 1.5rem;">
                                    <i class="fa fa-search"></i>
                                </button>
                               
                            </div>
                               
                            </div>
                            

                            <div class="form-row">
                               
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="clienteFinal" class="form-label">Cliente Final </label>
                                    <input type="text" formControlName="clienteFinal"
                                        class="form-control" id="clienteFinal" placeholder="Cliente Final"
                                        [ngClass]="{ 'is-invalid': submitted && f.clienteFinal.invalid, 'is-valid': submitted &&  !f.clienteFinal.invalid }" disabled>
                                </div>
                                <div class="col-md-1 mb-4 form-group mb-2">
                                    <button type="button" class="btn btn-default" (click)="openModal(modalContrato)"
                                        style="margin-top: 1.5rem;">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <ng-template #modalContrato let-c="close" let-d="dismiss">
                                        <div class="modal-header" style="text-align: center;">
    
                                            <h4 class="modal-title" style="font-size: 1rem;">Bandeja de Registro de
                                                Contratos</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="close()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ngx-spinner></ngx-spinner>
                                            <div class="row"
                                                style="text-align: center;background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
                                                <div class="card-subtitle-form modal-title">Criterios de Búsqueda</div>
                                            </div>
                                            <app-contrato [popUp]="popUp" 
                                                (agregarContratoEvent)="receiveMessageContrato($event)">
                                            </app-contrato>
                                        </div>
    
                                    </ng-template>
                                </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="exportador" class="form-label">Exportador </label>
                                    <input type="text"  formControlName="exportador"
                                        class="form-control" id="agenciaAduanera" placeholder="Exportador"
                                        [ngClass]="{ 'is-invalid': submitted && f.exportador.invalid, 'is-valid': submitted &&  !f.exportador.invalid }" disabled>
                                </div>
                                <div class="col-md-1 mb-4 form-group mb-2">
                                <button type="button" class="btn btn-default" (click)="openModal(modalExportador)"
                                    style="margin-top: 1.5rem;">
                                    <i class="fa fa-search"></i>
                                </button>
                                <ng-template #modalExportador let-c="close" let-d="dismiss">
                                    <app-consultar-empresa (empresaEvent)="receiveMessageExportador($event)">
                                    </app-consultar-empresa>
                                </ng-template>
                            </div>
                                <div class="col-md-3 mb-4 form-group mb-2">
                                    <label for="clienteFinal" class="form-label"> Productor </label>
                                    <input type="text" formControlName="productor"
                                        class="form-control" id="clienteFinal" placeholder="Productor"
                                        [ngClass]="{ 'is-invalid': submitted && f.clienteFinal.invalid, 'is-valid': submitted &&  !f.clienteFinal.invalid }" disabled>
                                </div>
                                <div class="col-md-1 mb-4 form-group mb-2">
                                    <button type="button" class="btn btn-default" (click)="openModal(modalProductor)"
                                        style="margin-top: 1.5rem;">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <ng-template #modalProductor let-c="close" let-d="dismiss">
                                        <app-consultar-empresa (empresaEvent)="receiveMessageProductor($event)">
                                        </app-consultar-empresa>
                                    </ng-template>
                                </div>
                            </div>
                         
                            <small class="form-text text-muted danger mb-1"
                                *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>
                            <button class="btn btn-primary mr-1 mb-1" type="submit" [disabled]="aduanasForm.invalid"
                                (click)="Buscar()">Buscar</button>
                            <button class="btn btn-primary mr-1 mb-1" (click)="Nuevo()" type="button">Nuevo</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button" [disabled]="rows.length==0"
                            (click)="exportar()">Exportar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>

<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Show
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                            <label for="ngx-filter-ref" class="float-right">Search:
                                <input id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
                                    (keyup)="filterUpdate($event)" />
                            </label>
                        </fieldset>
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true"
                            [selected]="selected" [selectionType]="'single'" [selectCheck]="onSelectCheck">

                            <ngx-datatable-column name="Numero" prop="Numero" width="130">

                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                            <a class="line-height-1 mb-0" routerLink="/operaciones/aduanas/edit"
                                                [queryParams]="{ id: row.AduanaId, status: row.EstadoId}">{{
                                                name }}</a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="N° Contrato" prop="NumeroContrato" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Estado" prop="Estado" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="RUC Ag. Aduanera" prop="RucEmpresaAgenciaAduanera" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Ag. Aduanas" prop="RazonSocialEmpresaAgenciaAduanera" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Exportador" prop="RazonSocialEmpresaExportadora" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Cliente Final" prop="RazonSocialCliente" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Productor" prop="RazonSocialEmpresaProductora" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Contrato Interno (Productor)" prop="NumeroContratoInternoProductor" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Mes de Embarque" prop="MesEmbarque" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Certificacion" prop="TipoCertificacion" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Calidad" prop="Calidad" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Cantidad de Defectos" prop="PreparacionCantidadDefectos" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Nro. de Contenedor" prop="NumeroContenedores" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Cantidad" prop="TotalSacos" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Empaque/Tipo" prop="EmpaqueTipo" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Envio Muestras" prop="FechaEnvioMuestra" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Estado de Envio" prop="EstadoMuestra" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Recepcion en Destino" prop="FechaRecepcionMuestra" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Estampado" prop="FechaEstampado" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha de Embarque Planta" prop="FechaEmbarque" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Zarpe Nave" prop="FechaZarpeNave" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Puerto" prop="Puerto" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Status Embarque" prop="EstadoSeguimientoDescripcion" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fec. Envio Documentos" prop="FechaEnvioDocumentos" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fec. Llegada Documentos" prop="FechaLlegadaDocumentos" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Status Pago Factura" prop="EstadoPagoFactura" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fec. Pago Factura" prop="FechaPagoFactura" width="150">
                            </ngx-datatable-column>
                           
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>