<div class="card">
    <h5 class="card-body text-center bg-primary text-white">REGISTRO DE PROYECTOS</h5>
    <div class="card-body">
        <form class="needs-validation" [formGroup]="proyectosEditForm" novalidate>
            <div class="form-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group row">
                        <label for="orgIntermediaria" class="col-3 col-form-label">Org. Intermediaria</label>
                        <div class="col-9">
                            <input type="text" name="orgIntermediaria" id="orgIntermediaria"
                                formControlName="orgIntermediaria"
                                [ngClass]="{ 'is-invalid': f.orgIntermediaria.invalid, 'is-valid': !f.orgIntermediaria.invalid }"
                                class="form-control" placeholder="Org. Intermediaria">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group row">
                        <label for="fechaRegistro" class="col-3 col-form-label">Fecha Registro</label>
                        <div class="col-9">
                            <input type="date" date name="fechaRegistro" id="fechaRegistro"
                                formControlName="fechaRegistro" [readonly]="true"
                                [ngClass]="{ 'is-invalid': f.fechaRegistro.invalid, 'is-valid': !f.fechaRegistro.invalid }"
                                class="form-control text-center" placeholder="Org. Intermediaria">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group row">
                        <label for="proyecto" class="col-3 col-form-label">Proyecto</label>
                        <div class="col-9">
                            <ng-select [items]="listProyectos" formControlName="proyecto" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="proyecto" placeholder="Seleccionar proyecto"
                                [ngClass]="{ 'is-invalid': f.proyecto.invalid, 'is-valid': !f.proyecto.invalid }"
                                [(ngModel)]="selectedProyecto" (change)="ChangeProject($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group row">
                        <label for="estado" class="col-3 col-form-label">Estado</label>
                        <div class="col-9">
                            <ng-select [items]="listEstados" formControlName="estado" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="estado" placeholder="Seleccionar Estado"
                                [ngClass]="{ 'is-invalid': f.estado.invalid, 'is-valid': !f.estado.invalid }"
                                [(ngModel)]="selectedEstado" [readonly]="!vCodeProject || vCodeProject <= 0">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-row mb-2">
                        <div class="col-lg-12 bg-primary">
                            <label for="" class="col-form-label text-center text-white">AGROBANCO - Crédito
                                Aprobado</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label for="moneda" class="col-3 col-form-label">Moneda</label>
                                <div class="col-lg-9">
                                    <ng-select [items]="listMonedas" formControlName="moneda" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" id="moneda"
                                        placeholder="Seleccionar Moneda" [readonly]="flagAgroBanco"
                                        [ngClass]="{ 'is-invalid': f.moneda.invalid, 'is-valid': !f.moneda.invalid }"
                                        [(ngModel)]="selectedMoneda">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label for="monto" class="col-3 col-form-label">Monto</label>
                                <div class="col-lg-9">
                                    <input type="number" name="monto" id="monto" formControlName="monto"
                                        [ngClass]="{ 'is-invalid': f.monto.invalid, 'is-valid': !f.monto.invalid }"
                                        class="form-control text-right" placeholder="Monto" [readonly]="flagAgroBanco">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group row">
                                <label for="periodoDesde" class="col-3 col-form-label">Período</label>
                                <div class="col-lg-4">
                                    <input type="number" name="periodoDesde" id="periodoDesde"
                                        formControlName="periodoDesde"
                                        [ngClass]="{ 'is-invalid': f.periodoDesde.invalid, 'is-valid': !f.periodoDesde.invalid }"
                                        class="form-control" placeholder="Periodo" [readonly]="flagAgroBanco">
                                </div>
                                <div class="col-lg-4">
                                    <input type="number" name="periodoHasta" id="periodoHasta"
                                        formControlName="periodoHasta"
                                        [ngClass]="{ 'is-invalid': f.periodoHasta.invalid, 'is-valid': !f.periodoHasta.invalid }"
                                        class="form-control" placeholder="Periodo" [readonly]="flagAgroBanco">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label for="nroHectareas" class="col-4 col-form-label">N° Hectareas</label>
                                <div class="col-lg-8">
                                    <input type="number" name="nroHectareas" id="nroHectareas"
                                        formControlName="nroHectareas"
                                        [ngClass]="{ 'is-invalid': f.nroHectareas.invalid, 'is-valid': !f.nroHectareas.invalid }"
                                        class="form-control text-right" placeholder="Número de Hectareas"
                                        [readonly]="flagAgroBanco">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-lg-12 bg-primary">
                            <label for="" class="col-form-label text-white">PLAN DE DESEMBOLSO</label>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <table class="table-sm table-responsive">
                                <thead>
                                    <th></th>
                                    <th class="text-center">Monto</th>
                                    <th class="text-center">Desde</th>
                                    <th class="text-center">Hasta</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold p-0">1° desembolso</td>
                                        <td>
                                            <input type="number" name="montoPrimerDesembolso" id="montoPrimerDesembolso"
                                                formControlName="montoPrimerDesembolso" [readonly]="flagAgroBanco"
                                                [ngClass]="{ 'is-invalid': f.montoPrimerDesembolso.invalid, 'is-valid': !f.montoPrimerDesembolso.invalid }"
                                                class="form-control text-right" placeholder="Monto">
                                        </td>
                                        <td>
                                            <input type="date" date name="fechaIniPrimerDesembolso"
                                                id="fechaIniPrimerDesembolso" formControlName="fechaIniPrimerDesembolso"
                                                [readonly]="flagAgroBanco"
                                                [ngClass]="{ 'is-invalid': f.fechaIniPrimerDesembolso.invalid, 'is-valid': !f.fechaIniPrimerDesembolso.invalid }"
                                                class="form-control text-right" placeholder="Desde">
                                        </td>
                                        <td>
                                            <input type="date" date name="fechaFinPrimerDesembolso"
                                                id="fechaFinPrimerDesembolso" formControlName="fechaFinPrimerDesembolso"
                                                [readonly]="flagAgroBanco"
                                                [ngClass]="{ 'is-invalid': f.fechaFinPrimerDesembolso.invalid, 'is-valid': !f.fechaFinPrimerDesembolso.invalid }"
                                                class="form-control text-right" placeholder="Desde">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right font-weight-bold">Estado</td>
                                        <td>
                                            <label for="cobradoPrimerDesembolso" *ngIf="!flagAgroBanco">
                                                <input type="checkbox" name="cobradoPrimerDesembolso"
                                                    id="cobradoPrimerDesembolso"
                                                    formControlName="cobradoPrimerDesembolso" class="mr-3"
                                                    [ngClass]="{ 'is-invalid': f.cobradoPrimerDesembolso.invalid, 'is-valid': !f.cobradoPrimerDesembolso.invalid }">
                                                Cobrado</label>
                                        </td>
                                        <td class="text-center font-weight-bold">Fec. Cobro</td>
                                        <td>
                                            <input type="date" date name="fechaCobroPrimerDesembolso"
                                                id="fechaCobroPrimerDesembolso"
                                                formControlName="fechaCobroPrimerDesembolso" [readonly]="flagAgroBanco"
                                                [ngClass]="{ 'is-invalid': f.fechaCobroPrimerDesembolso.invalid, 'is-valid': !f.fechaCobroPrimerDesembolso.invalid }"
                                                class="form-control text-right" placeholder="Desde">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold p-0">2° desembolso</td>
                                        <td>
                                            <input type="number" name="montoSegundoDesembolso"
                                                id="montoSegundoDesembolso" formControlName="montoSegundoDesembolso"
                                                [readonly]="flagAgroBanco"
                                                [ngClass]="{ 'is-invalid': f.montoSegundoDesembolso.invalid, 'is-valid': !f.montoSegundoDesembolso.invalid }"
                                                class="form-control text-right" placeholder="Monto">
                                        </td>
                                        <td>
                                            <input type="date" date name="fechaInicioSegundoDesembolso"
                                                id="fechaInicioSegundoDesembolso"
                                                formControlName="fechaInicioSegundoDesembolso"
                                                [readonly]="flagAgroBanco"
                                                [ngClass]="{ 'is-invalid': f.fechaInicioSegundoDesembolso.invalid, 'is-valid': !f.fechaInicioSegundoDesembolso.invalid }"
                                                class="form-control text-right" placeholder="Desde">
                                        </td>
                                        <td>
                                            <input type="date" date name="fechaFinSegundoDesembolso"
                                                id="fechaFinSegundoDesembolso"
                                                formControlName="fechaFinSegundoDesembolso" [readonly]="flagAgroBanco"
                                                [ngClass]="{ 'is-invalid': f.fechaFinSegundoDesembolso.invalid, 'is-valid': !f.fechaFinSegundoDesembolso.invalid }"
                                                class="form-control text-right" placeholder="Desde">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right font-weight-bold">Estado</td>
                                        <td>
                                            <label for="cobradoSegundoDesembolso" *ngIf="!flagAgroBanco">
                                                <input type="checkbox" name="cobradoSegundoDesembolso"
                                                    id="cobradoSegundoDesembolso"
                                                    formControlName="cobradoSegundoDesembolso" class="mr-3"
                                                    [ngClass]="{ 'is-invalid': f.cobradoSegundoDesembolso.invalid, 'is-valid': !f.cobradoSegundoDesembolso.invalid }">
                                                Cobrado</label>
                                        </td>
                                        <td class="text-center font-weight-bold">Fec. Cobro</td>
                                        <td>
                                            <input type="date" date name="fechaCobroSegundoDesembolso"
                                                id="fechaCobroSegundoDesembolso"
                                                formControlName="fechaCobroSegundoDesembolso" [readonly]="flagAgroBanco"
                                                [ngClass]="{ 'is-invalid': f.fechaCobroSegundoDesembolso.invalid, 'is-valid': !f.fechaCobroSegundoDesembolso.invalid }"
                                                class="form-control text-right" placeholder="Desde">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-lg-12 bg-primary">
                            <label for="" class="col-form-label text-white">REQUISITOS</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div *ngFor="let item of arrRequirements; let i=index">
                                <label>
                                    <input type="checkbox" [value]="item.Codigo" (change)="ChangeRequirements($event)"
                                        [disabled]="flagAgroBanco"
                                        [checked]="selectedRequirements.includes(item.Codigo)" />
                                    {{item.Label}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-row mb-2">
                        <div class="col-lg-12 bg-primary">
                            <label for="" class="col-form-label text-center text-white">AGRORURAL / DEVIDA -
                                Insumos</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="unidadMedida" class="col-3 col-form-label">Unidad Medida</label>
                                <div class="col-lg-9">
                                    <ng-select [items]="listUnidadMedida" formControlName="unidadMedida"
                                        class="form-control" bindLabel="Label" bindValue="Codigo" id="unidadMedida"
                                        placeholder="Unidad de medida" [readonly]="flagAgroRural || flagDevida"
                                        [ngClass]="{ 'is-invalid': f.unidadMedida.invalid, 'is-valid': !f.unidadMedida.invalid }"
                                        [(ngModel)]="selectedUnidadMedida">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="tipoInsumo" class="col-3 col-form-label">Tipo</label>
                                <div class="col-lg-9">
                                    <ng-select [items]="listTipos" formControlName="tipoInsumo" class="form-control"
                                        bindLabel="Label" bindValue="Codigo" id="tipoInsumo" placeholder="Tipo"
                                        [ngClass]="{ 'is-invalid': f.tipoInsumo.invalid, 'is-valid': !f.tipoInsumo.invalid }"
                                        [(ngModel)]="selectedTipo" [readonly]="flagAgroRural || flagDevida">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="cantidadInsumo" class="col-3 col-form-label">Total a Entregar</label>
                                <div class="col-lg-9">
                                    <input type="number" name="cantidadInsumo" id="cantidadInsumo"
                                        formControlName="cantidadInsumo" [readonly]="flagAgroRural || flagDevida"
                                        [ngClass]="{ 'is-invalid': f.cantidadInsumo.invalid, 'is-valid': !f.cantidadInsumo.invalid }"
                                        class="form-control text-right" placeholder="Total a Entregar"
                                        (keyup)="CalculateTotalEntregar()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="cantInsumoEntregado" class="col-3 col-form-label">Entregados</label>
                                <div class="col-lg-9">
                                    <input type="number" name="cantInsumoEntregado" id="cantInsumoEntregado"
                                        formControlName="cantInsumoEntregado" (keyup)="CalculateTotalEntregar()"
                                        [ngClass]="{ 'is-invalid': f.cantInsumoEntregado.invalid, 'is-valid': !f.cantInsumoEntregado.invalid }"
                                        class="form-control text-right" placeholder="Entregados"
                                        [readonly]="flagAgroRural || flagDevida">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="totalXEntregar" class="col-3 col-form-label">Total por Entregar</label>
                                <div class="col-lg-9">
                                    <input type="number" name="totalXEntregar" id="totalXEntregar"
                                        formControlName="totalXEntregar" [readonly]="true"
                                        [ngClass]="{ 'is-invalid': f.totalXEntregar.invalid, 'is-valid': !f.totalXEntregar.invalid }"
                                        class="form-control text-right" placeholder="Total por entregar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="cantInsumoPedidoFinal" class="col-3 col-form-label">Pedido Final</label>
                                <div class="col-lg-9">
                                    <input type="number" name="cantInsumoPedidoFinal" id="cantInsumoPedidoFinal"
                                        formControlName="cantInsumoPedidoFinal" [readonly]="flagAgroRural || flagDevida"
                                        [ngClass]="{ 'is-invalid': f.cantInsumoPedidoFinal.invalid, 'is-valid': !f.cantInsumoPedidoFinal.invalid }"
                                        class="form-control text-right" placeholder="Pedido final">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-lg-12 bg-primary">
                            <label for="" class="col-form-label text-white">INIA / DEVIDA - Capacitaciones</label>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-lg-6">
                            <textarea class="form-control" id="obsCapacitacion" formControlName="obsCapacitacion"
                                rows="3"
                                [ngClass]="{ 'is-invalid': f.obsCapacitacion.invalid, 'is-valid': !f.obsCapacitacion.invalid }"
                                [readonly]="flagInia || flagDevida"></textarea>
                        </div>
                        <div class="col-lg-3 text-center">
                            <label for="fechaInicioCapacitacion" class="form-label">Desde</label>
                            <input type="date" date name="fechaInicioCapacitacion" id="fechaInicioCapacitacion"
                                formControlName="fechaInicioCapacitacion"
                                [ngClass]="{ 'is-invalid': f.fechaInicioCapacitacion.invalid, 'is-valid': !f.fechaInicioCapacitacion.invalid }"
                                class="form-control text-right" placeholder="Desde" [readonly]="flagInia || flagDevida">
                        </div>
                        <div class="col-lg-3 text-center">
                            <label for="fechaFinCapacitacion" class="form-label">Hasta</label>
                            <input type="date" date name="fechaFinCapacitacion" id="fechaFinCapacitacion"
                                formControlName="fechaFinCapacitacion"
                                [ngClass]="{ 'is-invalid': f.fechaFinCapacitacion.invalid, 'is-valid': !f.fechaFinCapacitacion.invalid }"
                                class="form-control text-right" placeholder="Hasta" [readonly]="flagInia || flagDevida">
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-lg-12 bg-primary">
                            <label for="" class="col-form-label text-white">AGROIDEAS - "Adopción de
                                tecnologías"</label>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="!flagAgroideas">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-lg-1 col-form-label">
                                    <input type="checkbox" name="adopcionTecnologias" id="adopcionTecnologias"
                                        formControlName="adopcionTecnologias"
                                        [ngClass]="{ 'is-invalid': f.adopcionTecnologias.invalid, 'is-valid': !f.adopcionTecnologias.invalid }">
                                </div>
                                <label for="adopcionTecnologias" class="col-11 col-form-label">Seleccionado</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label class="text-danger" *ngIf="vMsgGeneral.isError">{{vMsgGeneral.msgError}}</label>
                        </div>
                        <div class="col-lg-6 text-right">
                            <button class="btn btn-primary mr-1" (click)="Save()">Guardar</button>
                            <button class="btn btn-danger" (click)="Cancel()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>